
.cdb {

	background-color : black;

	&:focus {
		outline: none;
	}

	&:focus .cdb-sheet {

		td.cursorView {
			outline : 1px solid #ccc;
		}

		tr.cursorLine {
			background-color: #262d35;
			td.start {
				background-color: #313a48;
			}
		}

		tr.selected, td.selected {
			background-color : #313a48;
			td.start {
				background-color: #313a48;
			}
		}
	}

	.cdb-sheet {

		width : 100%;
		table-layout:fixed;
		border-collapse : collapse;
		border-spacing : 0;
		background-color: #222;

		th.start {
			width : 30px;
			border-left-color : #333;
		}
		td.start {
			text-align : center;
			cursor : pointer;
			background-color: #333;
			border-left: none;
		}

		tr.head td.start {
			cursor : nw-resize;
		}

		tr.separator {
			background-color : #444;
			height : 10px;
			td {
				border-left: none;
				padding-top: 6px;
				color : #bbb;
				font-weight : bold;
				padding-left : 20px;
			}
		}

		td {
			padding : 2px 4px;
			overflow : hidden;
		}

		td.edit {
			padding : 2px;
			padding-right : 6px;
			&> input, textarea, select {
				width : 100%;
				padding : 0px 2px;
				border : none;
			}
			&> textarea {
				overflow: hidden;
			}
			&> div.error {
				margin-top : 5px;
				position : absolute;
				color : red;
				background-color : #633;
				border : 1px solid #833;
				max-width : 200px;
				padding : 2px;
			}
		}
		td.edit_long {
			padding-bottom : 0px;
		}

		tr.filtered {
			display : none;
		}

		tr.clickable {
			cursor : pointer;
		}

		tr.clickable:hover {
			background-color : #f8f8f8;
		}

		tr.head, th {
			font-weight: bold;
			text-align: center;
			padding: 1px 10px;
			border-bottom : 1px solid #666;
			border-left: 1px solid #555;
			background-color : #222;
			color : #ddd;
			width: auto;
			white-space: nowrap;
			overflow: hidden;
		}

		tr.head .display {
			font-style : italic;
		}

		td {
			user-select: none;
			border-left : 1px solid #444;
		}

		tr {
			border-bottom : 1px solid #333;
		}

		// ----- types -------

		tr.list {
			background-color:black;
			& > td {
				padding : 0;
				padding-bottom: 5px;
				border : none;
			}
		}


		th.t_tilepos {
			width: 64px;
		}
		td.t_tilepos {
			text-align : center;
		}

		th.t_bool,
		th.t_int,
		th.t_float {
			width: 6%;
		}

		td.t_bool {
			text-align : center;
		}
		td.t_bool.true {
			color: #76AA09;
			font-weight: bold;
			font-size: inherit;
		}
		td.t_bool.false {
			color: red;
			font-weight: normal;
			font-size: 75%;
		}

		td.t_script {
			font-family : Courier;
			input, textarea {
				font-family : Courier;
			}
			color : #CCC;
			.kwd {
				color : #88F;
			}
			.str {
				color : #C66;
			}
		}

		.tile {
			display: inline-block;
			vertical-align: middle;
			image-rendering: pixelated;
		}

		td.t_int, td.t_float {
			text-align : center;
			input {
				text-align : center;
			}
		}

		td.t_int.zero, td.t_float.zero {
			color: #888;
		}

		td.t_list, td.t_properties {
			white-space: nowrap;
			cursor : pointer;
			img {
				max-height: 32px;
				max-width: 32px;
			}
		}

		td.t_enum {
			padding-left : 5px;
		}

		td.t_color {
			text-align : center;
			position: relative;
			._hide-modal {
				opacity : 0;
			}
			.sp-replacer {
				visibility: hidden;
				position: absolute;
			}
			.color {
				display : inline-block;
				width : 20px;
				height : 20px;
				border : 2px solid white;
				outline : 1px solid black;
			}
		}

		.flagValues {
			position : absolute;
			background-color : #333;
			width : 150px;
			padding : 5px;
			border : 1px solid #666;
			z-index: 100;
			label {
				display : block;
				clear : both;
				input {
					float : left;
					margin-right: 5px;
				}
				padding : 1px;
			}
			label:hover {
				background-color : #262d35;
			}
		}

		span.error {
			color : #C44;
		}

		tr.props {
			background-color: #111;
			&> td {
				border : none;
				padding : 0;
				text-align: right;
				&> div {
					display: inline-block;
					max-width: 600px;
				}
			}
			.cdb-sheet {
				th {
					width: 200px;
				}
				td, td > input {
					text-align: left;
				}
				width : auto;
				min-width: 400px;
				border-right: 1px solid #333;
				margin-bottom: 15px;
			}
		}

		td.t_file {
			.preview {
				.previewContent {
					.label {
						text-align : center;
						margin-bottom : 5px;
						background-color : white;
						font-family : monospace;
					}
					display : none;
					position : absolute;
					background-color : #EEE;
					border : 1px solid black;
					padding : 5px;
				}
			}
			.preview:hover {
				.previewContent {
					display : block;
				}
			}
		}

		td.t_script {
			white-space: nowrap;
			overflow: hidden;
		}

		div.cdb-script {
			.scripteditor {
				min-width: 500px;
				min-height: 200px;
			}
			.scriptErrorLine {
				background: #400;
			}
			.scriptErrorContentLine {
				background : rgba(255,0,0,0.1);
			}
			.scriptErrorContent {
				text-decoration: underline dashed red;
			}
			.scriptErrorMessage {
				background : rgba(80, 5, 5, 1);
				color : red;
				position: absolute;
				margin-top : -20px;
				padding: 2px;
				border: 1px solid #A00;
			}
		}

	}
}


body.fullScreenMode {
	.lm_content, .lm_header, .lm_splitter {
		display : none;
	}
	.lm_content.fullScreen {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width : 100% !important;
		height: 100% !important;
	}
}