.cdb {
  background-color: black;
}
.cdb .cdb-sheet {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #222;
}
.cdb .cdb-sheet th.start {
  width: 30px;
  border-left-color: #333;
}
.cdb .cdb-sheet td.start {
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border-left: none;
}
.cdb .cdb-sheet tr.head td.start {
  cursor: nw-resize;
}
.cdb .cdb-sheet tr.separator {
  background-color: #444;
  height: 10px;
}
.cdb .cdb-sheet tr.separator td {
  border-left: none;
  padding-top: 6px;
  color: #bbb;
  font-weight: bold;
  padding-left: 20px;
}
.cdb .cdb-sheet td {
  padding: 2px 4px;
  overflow: hidden;
}
.cdb .cdb-sheet td.edit {
  padding: 2px;
  padding-right: 6px;
}
.cdb .cdb-sheet td.edit > input,
.cdb .cdb-sheet td.edit textarea {
  width: 100%;
  padding: 0px 2px;
  border: none;
}
.cdb .cdb-sheet td.edit > textarea {
  overflow: hidden;
}
.cdb .cdb-sheet td.edit > div.error {
  margin-top: 5px;
  position: absolute;
  color: red;
  background-color: #633;
  border: 1px solid #833;
  max-width: 200px;
  padding: 2px;
}
.cdb .cdb-sheet td.edit_long {
  padding-bottom: 0px;
}
.cdb .cdb-sheet td.cursor {
  outline: 1px solid #ccc;
}
.cdb .cdb-sheet tr.cursorLine {
  background-color: #262d35;
}
.cdb .cdb-sheet tr.cursorLine td.start {
  background-color: #313a48;
}
.cdb .cdb-sheet tr.selected,
.cdb .cdb-sheet td.selected {
  background-color: #313a48;
}
.cdb .cdb-sheet tr.selected td.start,
.cdb .cdb-sheet td.selected td.start {
  background-color: #313a48;
}
.cdb .cdb-sheet tr.filtered {
  display: none;
}
.cdb .cdb-sheet tr.clickable {
  cursor: pointer;
}
.cdb .cdb-sheet tr.clickable:hover {
  background-color: #f8f8f8;
}
.cdb .cdb-sheet tr.head,
.cdb .cdb-sheet th {
  font-weight: bold;
  text-align: center;
  padding: 1px 10px;
  border-bottom: 1px solid #666;
  border-left: 1px solid #555;
  background-color: #222;
  color: #ddd;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
.cdb .cdb-sheet tr.head .display {
  font-style: italic;
}
.cdb .cdb-sheet td {
  user-select: none;
  border-left: 1px solid #444;
}
.cdb .cdb-sheet tr {
  border-bottom: 1px solid #333;
}
.cdb .cdb-sheet tr.list {
  background-color: black;
}
.cdb .cdb-sheet tr.list > td {
  padding: 0;
  padding-bottom: 5px;
  border: none;
}
.cdb .cdb-sheet th.t_tilepos {
  width: 64px;
}
.cdb .cdb-sheet td.t_tilepos {
  text-align: center;
}
.cdb .cdb-sheet th.t_bool,
.cdb .cdb-sheet th.t_int,
.cdb .cdb-sheet th.t_float {
  width: 6%;
}
.cdb .cdb-sheet td.t_bool {
  text-align: center;
}
.cdb .cdb-sheet td.t_bool.true {
  color: #76AA09;
  font-weight: bold;
  font-size: inherit;
}
.cdb .cdb-sheet td.t_bool.false {
  color: red;
  font-weight: normal;
  font-size: 75%;
}
.cdb .cdb-sheet .tile {
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
}
.cdb .cdb-sheet td.t_int,
.cdb .cdb-sheet td.t_float {
  text-align: center;
}
.cdb .cdb-sheet td.t_int input,
.cdb .cdb-sheet td.t_float input {
  text-align: center;
}
.cdb .cdb-sheet td.t_int.zero,
.cdb .cdb-sheet td.t_float.zero {
  color: #888;
}
.cdb .cdb-sheet td.t_list,
.cdb .cdb-sheet td.t_properties {
  white-space: nowrap;
  cursor: pointer;
}
.cdb .cdb-sheet td.t_list img,
.cdb .cdb-sheet td.t_properties img {
  max-height: 32px;
  max-width: 32px;
}
.cdb .cdb-sheet td.t_enum {
  padding-left: 5px;
}
.cdb .cdb-sheet td.t_color {
  text-align: center;
}
.cdb .cdb-sheet td.t_color .modal {
  opacity: 0.;
}
.cdb .cdb-sheet td.t_color .color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  outline: 1px solid black;
}
.cdb .cdb-sheet .flagValues {
  position: absolute;
  background-color: white;
  width: 150px;
  padding: 5px;
  border: 1px solid #333;
}
.cdb .cdb-sheet .flagValues label {
  display: block;
  clear: both;
  padding: 1px;
}
.cdb .cdb-sheet .flagValues label input {
  float: right;
}
.cdb .cdb-sheet .flagValues label:hover {
  background-color: #eee;
}
.cdb .cdb-sheet span.error {
  color: #C44;
}
.cdb .cdb-sheet tr.props {
  background-color: #111;
}
.cdb .cdb-sheet tr.props > td {
  border: none;
  padding: 0;
  text-align: right;
}
.cdb .cdb-sheet tr.props > td > div {
  display: inline-block;
}
.cdb .cdb-sheet tr.props .cdb-sheet {
  width: auto;
  min-width: 400px;
  border-right: 1px solid #333;
  margin-bottom: 15px;
}
.cdb .cdb-sheet tr.props .cdb-sheet th {
  width: 200px;
}
.cdb .cdb-sheet td.t_file .preview .previewContent {
  display: none;
  position: absolute;
  background-color: #EEE;
  border: 1px solid black;
  padding: 5px;
}
.cdb .cdb-sheet td.t_file .preview .previewContent .label {
  text-align: center;
  margin-bottom: 5px;
  background-color: white;
  font-family: monospace;
}
.cdb .cdb-sheet td.t_file .preview:hover .previewContent {
  display: block;
}
