.cdb-view > .hide-tabs > .tab > ::-webkit-scrollbar {
  width: 12px;
}
.cdb-view .cdb {
  margin-bottom: 350px;
}
.cdb {
  background-color: black;
}
.cdb:focus {
  outline: none;
}
.cdb:focus .cdb-sheet td.cursorView {
  outline: 1px solid #ccc;
}
.cdb:focus .cdb-sheet tr.cursorLine {
  background-color: #262d35;
}
.cdb:focus .cdb-sheet tr.cursorLine td.start,
.cdb:focus .cdb-sheet tr.cursorLine td.t_readonly {
  background-color: #313a48;
}
.cdb:focus .cdb-sheet tr.selected,
.cdb:focus .cdb-sheet td.selected {
  background-color: #313a48;
}
.cdb:focus .cdb-sheet tr.selected td.start,
.cdb:focus .cdb-sheet td.selected td.start,
.cdb:focus .cdb-sheet tr.selected td.t_readonly,
.cdb:focus .cdb-sheet td.selected td.t_readonly {
  background-color: #313a48;
}
.cdb .cdb-sheet {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #222;
}
.cdb .cdb-sheet th.start {
  width: 30px;
  border-left-color: #333;
}
.cdb .cdb-sheet td.start {
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border-left: none;
}
.cdb .cdb-sheet tr.head td.start {
  cursor: nw-resize;
}
.cdb .cdb-sheet tr.separator {
  background-color: #444;
  height: 10px;
}
.cdb .cdb-sheet tr.separator td {
  border-left: none;
  padding-top: 6px;
  color: #bbb;
  font-weight: bold;
  padding-left: 20px;
}
.cdb .cdb-sheet td {
  padding: 2px 4px;
  overflow: hidden;
}
.cdb .cdb-sheet tr.props td {
  overflow: visible;
}
.cdb .cdb-sheet > tbody > tr.props:last-child {
  border-bottom: 0;
  background-color: black;
}
.cdb .cdb-sheet td.edit {
  padding: 2px;
  padding-right: 6px;
}
.cdb .cdb-sheet td.edit > input,
.cdb .cdb-sheet td.edit textarea,
.cdb .cdb-sheet td.edit select {
  width: 100%;
  padding: 0px 2px;
  border: none;
}
.cdb .cdb-sheet td.edit > textarea {
  overflow: hidden;
}
.cdb .cdb-sheet td.edit > div.error {
  margin-top: 5px;
  position: absolute;
  color: red;
  background-color: #633;
  border: 1px solid #833;
  max-width: 200px;
  padding: 2px;
}
.cdb .cdb-sheet td.edit_long {
  padding-bottom: 0px;
}
.cdb .cdb-sheet tr.filtered {
  display: none;
}
.cdb .cdb-sheet tr.clickable {
  cursor: pointer;
}
.cdb .cdb-sheet tr.clickable:hover {
  background-color: #f8f8f8;
}
.cdb .cdb-sheet tr.head,
.cdb .cdb-sheet th {
  font-weight: bold;
  text-align: center;
  padding: 1px 10px;
  border-bottom: 1px solid #666;
  border-left: 1px solid #555;
  background-color: #222;
  color: #ddd;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}
.cdb .cdb-sheet tr.head .display {
  font-style: italic;
}
.cdb .cdb-sheet td {
  user-select: none;
  border-left: 1px solid #444;
}
.cdb .cdb-sheet tr {
  border-bottom: 1px solid #333;
}
.cdb .cdb-sheet tr.list {
  background-color: black;
}
.cdb .cdb-sheet tr.list > td {
  padding: 0;
  padding-bottom: 20px;
  border: none;
}
.cdb .cdb-sheet th.t_tilepos {
  width: 64px;
}
.cdb .cdb-sheet td.t_tilepos {
  text-align: center;
}
.cdb .cdb-sheet td.t_readonly {
  background-color: #333;
}
.cdb .cdb-sheet th.t_bool,
.cdb .cdb-sheet th.t_int,
.cdb .cdb-sheet th.t_float {
  width: 6%;
}
.cdb .cdb-sheet td.t_bool {
  text-align: center;
}
.cdb .cdb-sheet td.t_bool.true {
  color: #76AA09;
  font-weight: bold;
  font-size: inherit;
}
.cdb .cdb-sheet td.t_bool.false {
  color: red;
  font-weight: normal;
  font-size: 75%;
}
.cdb .cdb-sheet td.t_script {
  font-family: Courier;
  color: #CCC;
}
.cdb .cdb-sheet td.t_script input,
.cdb .cdb-sheet td.t_script textarea {
  font-family: Courier;
}
.cdb .cdb-sheet td.t_script .kwd {
  color: #88F;
}
.cdb .cdb-sheet td.t_script .str {
  color: #C66;
}
.cdb .cdb-sheet td.t_script .comment {
  color: #182;
}
.cdb .cdb-sheet .tile {
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
}
.cdb .cdb-sheet td.t_int,
.cdb .cdb-sheet td.t_float {
  text-align: center;
}
.cdb .cdb-sheet td.t_int input,
.cdb .cdb-sheet td.t_float input {
  text-align: center;
}
.cdb .cdb-sheet td.t_int.zero,
.cdb .cdb-sheet td.t_float.zero {
  color: #888;
}
.cdb .cdb-sheet td.t_list,
.cdb .cdb-sheet td.t_properties {
  white-space: nowrap;
  cursor: pointer;
}
.cdb .cdb-sheet td.t_list img,
.cdb .cdb-sheet td.t_properties img {
  max-height: 32px;
  max-width: 32px;
}
.cdb .cdb-sheet td.t_enum {
  padding-left: 5px;
}
.cdb .cdb-sheet td.t_color {
  text-align: center;
  position: relative;
}
.cdb .cdb-sheet td.t_color ._hide-modal {
  opacity: 0;
}
.cdb .cdb-sheet td.t_color .sp-replacer {
  visibility: hidden;
  position: absolute;
}
.cdb .cdb-sheet td.t_color .color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  outline: 1px solid black;
}
.cdb .cdb-sheet td.t_flags {
  position: relative;
  overflow: visible;
}
.cdb .cdb-sheet .flagValues {
  position: absolute;
  background-color: #333;
  width: 150px;
  padding: 5px;
  border: 1px solid #666;
  z-index: 100;
}
.cdb .cdb-sheet .flagValues label {
  display: block;
  clear: both;
  padding: 1px;
}
.cdb .cdb-sheet .flagValues label input {
  float: left;
  margin-right: 5px;
}
.cdb .cdb-sheet .flagValues label:hover {
  background-color: #262d35;
}
.cdb .cdb-sheet span.error {
  color: #C44;
}
.cdb .cdb-sheet tr.props {
  background-color: #111;
}
.cdb .cdb-sheet tr.props > td {
  border: none;
  padding: 0;
  text-align: right;
}
.cdb .cdb-sheet tr.props > td > div {
  display: inline-block;
  max-width: 600px;
}
.cdb .cdb-sheet tr.props .cdb-sheet {
  width: auto;
  min-width: 400px;
  border-right: 1px solid #333;
  margin-bottom: 15px;
}
.cdb .cdb-sheet tr.props .cdb-sheet th {
  width: 200px;
}
.cdb .cdb-sheet tr.props .cdb-sheet td,
.cdb .cdb-sheet tr.props .cdb-sheet td > input {
  text-align: left;
}
.cdb .cdb-sheet td.t_file .preview .previewContent {
  display: none;
  position: absolute;
  background-color: #EEE;
  border: 1px solid black;
  padding: 5px;
}
.cdb .cdb-sheet td.t_file .preview .previewContent .label {
  text-align: center;
  margin-bottom: 5px;
  background-color: white;
  font-family: monospace;
}
.cdb .cdb-sheet td.t_file .preview:hover .previewContent {
  display: block;
}
.cdb .cdb-sheet td.t_script {
  white-space: nowrap;
  overflow: hidden;
}
.cdb .cdb-sheet div.cdb-script {
  position: relative;
}
.cdb .cdb-sheet div.cdb-script .codeeditor {
  min-width: 500px;
  min-height: 200px;
}
.cdb .floating-thead {
  position: fixed;
  background-color: #222;
}
.cdb .floating-thead th:first-child {
  border-left: 1px solid #222;
}
.cdb .floating-thead th {
  overflow: hidden;
  color: #ddd;
  padding: 1px 10px;
  border-left: 1px solid #555;
  border-bottom: 2px solid #666;
}
.cdb .content-modal {
  width: 350px;
  min-height: 300px;
  margin: auto;
  padding: 15px;
  background: #292929;
  border: 2px solid #555;
  color: #dadada;
}
.cdb .content-modal form {
  font-size: 14px;
}
.cdb .content-modal form input[type=text],
.cdb .content-modal form input[type=submit],
.cdb .content-modal form select {
  height: 28px;
}
.cdb .content-modal form td.first {
  width: 120px;
}
.cdb .content-modal form .t_int .disp,
.cdb .content-modal form .t_float .disp {
  display: table-row;
}
.cdb .content-modal form .t_string .kind {
  display: table-row;
}
.cdb .content-modal form .t_enum .values,
.cdb .content-modal form .t_flags .values {
  display: table-row;
}
.cdb .content-modal form .t_ref .sheet {
  display: table-row;
}
.cdb .content-modal form .t_layer .sheet {
  display: table-row;
}
.cdb .content-modal form .t_custom .custom {
  display: table-row;
}
.cdb .content-modal form .values,
.cdb .content-modal form .sheet,
.cdb .content-modal form .custom,
.cdb .content-modal form .disp,
.cdb .content-modal form .kind {
  display: none;
}
.cdb .content-modal form.edit input.create {
  display: none;
}
.cdb .content-modal form.create input.edit {
  display: none;
}
.cdb .content-modal #errorModal {
  color: red;
  text-align: center;
}
body.fullScreenMode .lm_content,
body.fullScreenMode .lm_header,
body.fullScreenMode .lm_splitter {
  display: none;
}
body.fullScreenMode .lm_content.fullScreen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}
