// z-index layers

@default-layer: 200;
@tooltip-layer: @default-layer;
@splitter-layer: @default-layer;
@domkit-layer: 400;
@popup-layer: 500;
@header-layer: 600;
@hidemodal-layer: 800;

// This is also set in hide.comp.ContextMenu
@contextmenu-layer: 900;

@cdb-separator-layer: 100;
@cdb-error-layer: 300;
@cdb-flageditor-layer: @popup-layer;
@cdb-preview-layer: @popup-layer + 10;
