.hide-scroll:has(kit-root) {
  flex: 1;
  background-color: #1b1b1b;
  overflow-y: auto;
  border-right: 1px solid #444;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: transparent;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar-track {
  background: transparent;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
  border: transparent;
}
.hide-scroll:has(kit-root) > div {
  border-right: 1px solid #444;
  min-height: 100%;
}
.tree-column .props-column:has(kit-root) {
  width: 100% !important;
}
kit-root .is-cdb-editor {
  margin: 2px;
  margin-top: 2px !important;
  font-size: 12.666px;
}
kit-root .detached .is-cdb-editor {
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid #555;
}
/**
	We use scope to avoid messing with the inner styles of complex widgets
**/
@scope (kit-root) to (.is-cdb-editor) {
  :scope {
    --widget-bg: #2d2d2d;
    --range-fill: #3185ce;
    min-height: 0;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    --basic-border: 1px solid;
  }
  :scope kit-file {
    position: relative;
    width: 100%;
  }
  :scope kit-file > fancy-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
  }
  :scope fancy-tooltip {
    background-color: #1b1b1b;
    padding: 1px;
    border: 1px solid #484848;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.75);
  }
  :scope fancy-tooltip fancy-image {
    margin: 8px;
    transform: none;
  }
  :scope .dragover,
  :scope .dragover > kit-line {
    position: relative;
  }
  :scope .dragover-top::before,
  :scope .dragover-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0;
    border: 1px solid #FFFFFF;
    z-index: 1;
  }
  :scope .dragover-top::before {
    top: 0;
  }
  :scope .dragover-bottom::before {
    bottom: 0;
  }
  :scope .disabled {
    pointer-events: none;
  }
  :scope .disabled * {
    color: #777777 !important;
  }
  :scope .disabled kit-button,
  :scope .disabled input,
  :scope .disabled kit-label {
    pointer-events: none;
    cursor: pointer;
  }
  :scope .disabled kit-button,
  :scope .disabled input,
  :scope .disabled input[type=checkbox]:after {
    background-color: #222222;
    border-color: #333333;
  }
  :scope kit-button,
  :scope input {
    color: #FFFFFF;
  }
  :scope fancy-array {
    border: none;
    border-radius: 0;
    margin-left: 4px;
    padding: 0;
  }
  :scope fancy-array fancy-items {
    gap: 0;
  }
  :scope fancy-array fancy-items fancy-item {
    margin-top: -1px;
    background-color: transparent;
  }
  :scope fancy-array fancy-items fancy-item fancy-item-content {
    padding-left: 0;
    background-color: transparent !important;
  }
  :scope fancy-array fancy-items fancy-item fancy-item-header {
    border-radius: 0;
    border-block: 1px solid;
    background-color: #272727;
    border-color: #313131;
  }
  :scope kit-list {
    max-height: 400px;
    overflow: auto;
    display: block;
    background-color: #1F1F1F;
  }
  :scope kit-list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: transparent;
  }
  :scope kit-list::-webkit-scrollbar-track {
    background: transparent;
  }
  :scope kit-list::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 20px;
    border: transparent;
  }
  :scope kit-list > div {
    border-right: 1px solid #444;
    min-height: 100%;
  }
  :scope kit-list > kit-collapse-line > kit-line,
  :scope kit-list > kit-line {
    padding-left: 20px;
    border-radius: 0;
  }
  :scope kit-list > kit-collapse-line > kit-line .drag,
  :scope kit-list > kit-line .drag {
    opacity: 0.3;
  }
  :scope kit-list > kit-collapse-line > kit-line .drag:hover,
  :scope kit-list > kit-line .drag:hover {
    opacity: 1;
  }
  :scope kit-list > kit-collapse-line {
    display: block;
  }
  :scope kit-list > kit-collapse-line > kit-content > kit-content {
    position: relative;
    display: block;
  }
  :scope kit-list > kit-collapse-line > kit-content > kit-content::before {
    z-index: 5;
    position: absolute;
    left: 28px;
    bottom: 0px;
    top: -8px;
    width: 15px;
    border-left: 1px solid #333;
    border-image: linear-gradient(to right, #555 0%, #000 100%) 1;
    display: block;
    content: " ";
  }
  :scope kit-collapse-line kit-text.info {
    color: #AAA;
    font-style: italic;
    font-variant-numeric: tabular-nums;
  }
  :scope kit-collapse-line > kit-line::before {
    display: block;
    content: "";
    margin: 2px;
    width: 12px;
    height: 12px;
    position: absolute;
    transition: transform 0.2s;
    background-color: currentColor;
    mask-image: url("res/icons/svg/right_caret.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    pointer-events: all;
  }
  :scope kit-collapse-line.no-collapse > kit-line::before {
    display: none;
  }
  :scope kit-collapse-line.open > kit-line::before {
    transform: rotate(90deg);
  }
  :scope kit-collapse-line * {
    box-sizing: border-box;
  }
  :scope kit-collapse-line > kit-content {
    display: block;
    transition: height ease 100ms;
    height: 0;
    overflow: clip;
  }
  :scope kit-collapse-line.open > kit-content {
    height: max-content;
  }
  :scope kit-collapse-line > kit-content > .kit-content {
    box-sizing: border-box;
  }
  :scope kit-category {
    width: 100%;
    font-size: 11px;
    color: #EEEEEE;
  }
  :scope kit-category kit-category .title > kit-label {
    font-weight: normal;
    font-size: 11px;
  }
  :scope kit-category + kit-category,
  :scope kit-category kit-category:first-child {
    margin-top: -1px;
  }
  :scope kit-category.level-0 > .title {
    background-color: #272727;
    border-color: #313131;
    padding-left: 0px;
  }
  :scope kit-category.level-0 > .title:hover {
    background-color: #414141;
  }
  :scope kit-category.level-0 .content {
    background-color: #1b1b1b;
  }
  :scope kit-category.level-0 .content kit-line:hover {
    background-color: #232323;
  }
  :scope kit-category.level-1 > .title {
    background-color: #2a2a2a;
    border-color: #343434;
    padding-left: 10px;
  }
  :scope kit-category.level-1 > .title:hover {
    background-color: #434343;
  }
  :scope kit-category.level-1 .content {
    background-color: #1e1e1e;
  }
  :scope kit-category.level-1 .content kit-line:hover {
    background-color: #252525;
  }
  :scope kit-category.level-2 > .title {
    background-color: #2c2c2c;
    border-color: #363636;
    padding-left: 20px;
  }
  :scope kit-category.level-2 > .title:hover {
    background-color: #464646;
  }
  :scope kit-category.level-2 .content {
    background-color: #202020;
  }
  :scope kit-category.level-2 .content kit-line:hover {
    background-color: #282828;
  }
  :scope kit-category.level-3 > .title {
    background-color: #2f2f2f;
    border-color: #393939;
    padding-left: 30px;
  }
  :scope kit-category.level-3 > .title:hover {
    background-color: #484848;
  }
  :scope kit-category.level-3 .content {
    background-color: #232323;
  }
  :scope kit-category.level-3 .content kit-line:hover {
    background-color: #2a2a2a;
  }
  :scope kit-category.level-4 > .title {
    background-color: #313131;
    border-color: #3b3b3b;
    padding-left: 40px;
  }
  :scope kit-category.level-4 > .title:hover {
    background-color: #4b4b4b;
  }
  :scope kit-category.level-4 .content {
    background-color: #252525;
  }
  :scope kit-category.level-4 .content kit-line:hover {
    background-color: #2d2d2d;
  }
  :scope kit-category.level-5 > .title {
    background-color: #343434;
    border-color: #3e3e3e;
    padding-left: 50px;
  }
  :scope kit-category.level-5 > .title:hover {
    background-color: #4d4d4d;
  }
  :scope kit-category.level-5 .content {
    background-color: #282828;
  }
  :scope kit-category.level-5 .content kit-line:hover {
    background-color: #2f2f2f;
  }
  :scope kit-category > .title {
    display: flex;
    border-block: 1px solid;
    cursor: pointer;
    user-select: none;
    padding: 2px;
    align-items: center;
    gap: 0.4em;
  }
  :scope kit-category > .title::before {
    display: inline-block;
    content: "";
    margin: 2px;
    width: 12px;
    height: 12px;
    transition: transform 0.2s;
    background-color: currentColor;
    mask-image: url("res/icons/svg/right_caret.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    pointer-events: all;
  }
  :scope kit-category > .title kit-label {
    color: #DDDDDD;
    font-size: 12px;
    font-weight: bold;
    flex: 1 1;
  }
  :scope kit-category > .title input[type=checkbox] {
    margin-right: 8px;
  }
  :scope kit-category.open > .title::before {
    transform: rotate(90deg);
  }
  :scope kit-category * {
    box-sizing: border-box;
  }
  :scope kit-category > .collapsable {
    transition: height ease 100ms;
    height: 0;
    overflow: clip;
  }
  :scope kit-category.open > .collapsable {
    height: max-content;
  }
  :scope kit-category > .collapsable > .content {
    box-sizing: border-box;
  }
  :scope kit-category.open > .title {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  :scope .content,
  :scope kit-block {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
  :scope kit-text {
    flex: var(--width, 1) 0;
    margin: 0;
    padding: 0;
    min-width: 50px;
  }
  :scope kit-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #333333;
    align-self: center;
  }
  :scope kit-line > kit-separator {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    align-self: stretch;
    flex: var(--width, 0) 0;
  }
  :scope kit-line > kit-separator:before {
    content: "";
    border-right: 1px solid #333333;
    align-self: stretch;
  }
  :scope kit-spacer {
    flex: 0 1 calc(var(--width, 1) * 12px);
  }
  :scope input[type="checkbox"] {
    appearance: none;
    width: auto;
    flex: var(--width, 0) 0 auto;
    outline: none !important;
    border: none !important;
    padding: 0;
    margin: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: none;
  }
  :scope input[type="checkbox"]::after {
    box-sizing: border-box;
    display: block;
    background-color: #2d2d2d;
    width: 100%;
    height: 100%;
    border: 1px solid #484848;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    box-shadow: inset 1px 1px 2px 1px #1c1c1c;
  }
  :scope input[type="checkbox"]:hover::after {
    background-color: #474747;
    border-color: #7b7b7b;
  }
  :scope input[type="checkbox"]:checked:after {
    content: '\2714';
  }
  :scope input[type="checkbox"]:indeterminate:after {
    content: '-' !important;
  }
  :scope kit-section {
    display: flex;
    flex-direction: column;
    padding-block: 8px;
  }
  :scope kit-line {
    padding-block: 1px;
    padding-right: 8px;
    padding-left: 2px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 0;
    min-height: 22px;
  }
  :scope kit-line:hover {
    background-color: hsl(from var(--inspector-bg) h s calc(l + var(--line-hover-highlight)));
  }
  :scope kit-line kit-label {
    font-variant-numeric: tabular-nums;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
    margin-left: 3px;
  }
  :scope kit-line kit-label.color-red {
    color: #d20f39;
  }
  :scope kit-line kit-label.color-orange {
    color: #fe640b;
  }
  :scope kit-line kit-label.color-yellow {
    color: #df8e1d;
  }
  :scope kit-line kit-label.color-green {
    color: #40a02b;
  }
  :scope kit-line kit-label.color-cyan {
    color: #04a5e5;
  }
  :scope kit-line kit-label.color-blue {
    color: #1e66f5;
  }
  :scope kit-line kit-label.color-purple {
    color: #8839ef;
  }
  :scope kit-line kit-label:empty:not(.first) {
    display: none;
  }
  :scope kit-line .first {
    flex: 0 0 85px;
    text-align: right;
    margin-left: 0;
  }
  :scope kit-line kit-slider-group-label {
    display: flex !important;
    align-items: center;
    justify-content: end;
    gap: 0.3em;
  }
  :scope kit-line kit-div {
    display: contents;
  }
  :scope kit-line input,
  :scope kit-line kit-select {
    flex: var(--width, 1) 1;
    text-align: left;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 22px;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px black;
    background-color: #2d2d2d;
    padding: 0;
    padding-left: 5px;
    overflow: clip;
    border: var(--basic-border);
    border-color: #484848;
    border-radius: var(--basic-border-radius);
  }
  :scope kit-line input:focus,
  :scope kit-line kit-select:focus {
    outline-color: #777;
  }
  :scope kit-line .texture-choice {
    display: flex;
    width: unset;
    height: 22px;
    flex: 1 1;
    align-items: center;
  }
  :scope kit-line .texture-choice > :first-child {
    height: 22px;
    flex: 1 1 auto;
  }
  :scope kit-line .texture-choice > :first-child input {
    height: 100%;
    width: 100% !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }
  :scope kit-line .texture-choice > :first-child .texture-preview {
    position: absolute;
    height: calc(22px - 4px);
    width: unset;
    aspect-ratio: 1/1;
    background-size: cover !important;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 2px;
    right: 0;
    top: 0;
  }
  :scope kit-line .texture-choice .hide-button {
    flex: 0 0;
    height: 22px;
    min-height: 22px;
    width: 22px;
    min-width: 22px;
    margin: 0;
    box-sizing: border-box;
    text-shadow: none;
    background: unset;
    background-color: #4d4d4d;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  :scope kit-line kit-slider {
    flex: var(--width, 1) 1;
    position: relative;
    display: flex;
    height: 22px;
    align-self: flex-start;
  }
  :scope kit-line kit-slider > input {
    font-variant-numeric: tabular-nums;
    cursor: ew-resize;
    height: 100%;
    vertical-align: center;
  }
  :scope kit-line kit-slider kit-unit {
    right: 14px;
    color: #666;
    position: absolute;
    align-self: center;
    font-style: italic;
  }
  :scope kit-line kit-select {
    flex: var(--width, 1) 1;
    cursor: pointer;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  :scope kit-line kit-select span {
    flex: 1 1;
  }
  :scope kit-line kit-select::after {
    flex: 0 0 12px;
    display: inline-block;
    justify-self: flex-end;
    content: "";
    margin: 8px;
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
    background-color: currentColor;
    mask-image: url("res/icons/svg/right_caret.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    pointer-events: all;
  }
  :scope kit-line .gradient-box {
    height: 22px;
  }
  :scope kit-line .color-box {
    height: 22px;
  }
  :scope kit-line kit-label > kit-image {
    flex: 0 1 auto;
    justify-self: stretch;
    aspect-ratio: 1/1;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 22px;
  }
  :scope kit-line kit-button,
  :scope kit-line .hide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: var(--width, 1) 1;
    border: var(--basic-border);
    border-color: #484848;
    border-radius: var(--basic-border-radius);
    height: 22px;
    align-self: stretch;
    text-align: center;
    cursor: pointer;
    background-color: #4d4d4d;
    border-color: #5d5d5d;
  }
  :scope kit-line kit-button:active,
  :scope kit-line .hide-button:active {
    position: relative;
    top: 1px;
  }
  :scope kit-line kit-button:hover,
  :scope kit-line .hide-button:hover {
    background-color: #3185ce;
    border-color: #777777;
  }
  :scope kit-line kit-button.highlight,
  :scope kit-line .hide-button.highlight {
    background-color: #3185ce;
  }
  :scope kit-line kit-button.highlight:hover,
  :scope kit-line .hide-button.highlight:hover {
    background-color: #5a9dd8;
  }
  :scope kit-line kit-button > kit-image,
  :scope kit-line .hide-button > kit-image {
    flex: 1 1 auto;
    max-width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
  }
  :scope kit-line kit-button:has(kit-image),
  :scope kit-line .hide-button:has(kit-image),
  :scope kit-line kit-button.square,
  :scope kit-line .hide-button.square {
    flex: 0 1 auto;
    aspect-ratio: 1 / 1;
    padding: 3px;
    min-height: 100%;
  }
  :scope kit-line kit-button.kit-medium,
  :scope kit-line .hide-button.kit-medium {
    flex: 0 1 32px;
    height: unset;
  }
  :scope kit-line kit-button.kit-big,
  :scope kit-line .hide-button.kit-big {
    flex: 0 1 64px;
    aspect-ratio: 1 / 1;
    height: unset;
  }
  :scope kit-line kit-button.kit-huge,
  :scope kit-line .hide-button.kit-huge {
    flex: 0 1 64px;
    height: unset;
  }
  :scope kit-line input,
  :scope kit-line kit-select {
    background-color: #2d2d2d;
    border-color: #484848;
  }
  :scope kit-line input:hover,
  :scope kit-line kit-select:hover {
    background-color: #474747;
    border-color: #484848;
  }
  :scope kit-line kit-multiline {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
  }
  :scope kit-line kit-multiline kit-div {
    display: flex;
    min-width: 40px;
    flex: 1 1;
    gap: 0.4em;
  }
  :scope kit-button.disabled,
  :scope input.disabled,
  :scope input[type=checkbox].disabled:after {
    background-color: #222222;
    border-color: #333333;
  }
}
