:root {
  --inspector-bg: #1b1b1b;
}
.hide-scroll:has(kit-root) {
  flex: 1;
  background-color: var(--inspector-bg);
  overflow-y: auto;
  border-right: 1px solid #444;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar-track {
  background: transparent;
}
.hide-scroll:has(kit-root)::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.75);
  border-radius: 20px;
  border: transparent;
}
.hide-scroll:has(kit-root) > div {
  border-right: 1px solid #444;
  height: 100%;
}
kit-root {
  --font-size-base: 11px;
  --text-color-base: #FFFFFF;
  --text-color-disabled: #777777;
  --title-font-size: 12px;
  --title-font-color: #DDDDDD;
  --title-background-color: #272727;
  --title-background-color-per-level: 5;
  --title-background-color-hover: 10;
  --title-border-color-lightness: 5;
  --category-background-color: var(--inspector-bg);
  --category-background-color-per-level: 2;
  --widget-height: 22px;
  --widget-bg: #2d2d2d;
  --widget-bg-disabled: #222222;
  --button-bg: #444444;
  --button-bg-highlight: var(--selection);
  --widget-gap: 1px;
  --widget-border-color: #484848;
  --widget-border-color-disabled: #333333;
  --separator-color: #333333;
  --section-padding: 4px;
  --line-hover-highlight: 4;
  --range-fill: var(--selection);
  min-height: 0;
  background-color: var(--inspector-bg);
  display: flex;
  flex-direction: column;
  --basic-border: 1px solid;
}
kit-root .disabled {
  --text-color-base: var(--text-color-disabled);
  pointer-events: none;
}
kit-root .disabled kit-button,
kit-root .disabled input,
kit-root .disabled kit-label {
  pointer-events: none;
  cursor: pointer;
}
kit-root .disabled kit-button,
kit-root .disabled input {
  --widget-bg: var(--widget-bg-disabled);
  --widget-border-color: var(--widget-border-color-disabled);
}
kit-root kit-button,
kit-root input,
kit-root kit-label {
  color: var(--text-color-base) !important;
}
kit-root kit-category {
  --level: 0;
  width: 100%;
}
kit-root kit-category + kit-category,
kit-root kit-category kit-category:first-child {
  margin-top: -1px;
}
kit-root kit-category > .title {
  display: flex;
  --hover: 0;
  --header-color: hsl(from var(--title-background-color) h s calc(l + var(--level) * var(--title-background-color-per-level) + var(--hover) * var(--title-background-color-hover)));
  background-color: var(--header-color);
  border-block: 1px solid;
  border-color: hsl(from var(--header-color) h s calc(l + var(--title-border-color-lightness)));
  cursor: pointer;
  user-select: none;
  padding: 2px;
  align-items: center;
  gap: 0.4em;
  padding-left: calc(1em * var(--level));
}
kit-root kit-category > .title:hover {
  --hover: 1;
  --color: calc(15 + var(--base-color));
}
kit-root kit-category > .title > .checkbox-wrapper {
  position: absolute;
  left: 5px;
}
kit-root kit-category > .title::before {
  display: inline-block;
  content: "";
  margin: 2px;
  width: 12px;
  height: 12px;
  transition: transform 0.2s;
  background-color: currentColor;
  mask-image: url("res/icons/svg/right_caret.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  pointer-events: all;
}
kit-root kit-category > .title kit-label {
  color: var(--title-font-color);
  font-size: var(--title-font-size);
  font-weight: bold;
}
kit-root kit-category.open > .title::before {
  transform: rotate(90deg);
}
kit-root kit-category * {
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--text-color-base);
}
kit-root kit-category > .collapsable {
  transition: height ease 100ms;
  height: 0;
  overflow: clip;
}
kit-root kit-category.open > .collapsable {
  height: max-content;
}
kit-root kit-category > .collapsable > .content {
  box-sizing: border-box;
}
kit-root kit-category.open > .title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
kit-root .content,
kit-root kit-block {
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: hsl(from var(--category-background-color) h s calc(l + var(--level) * var(--category-background-color-per-level)));
}
kit-root kit-text {
  flex: 1 0;
  margin: 0;
  padding: 0;
  min-width: 50px;
}
kit-root kit-separator {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid var(--separator-color);
  align-self: center;
}
kit-root kit-line > kit-separator {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-right: 1px solid var(--separator-color);
  width: 0;
  align-self: stretch;
}
kit-root input[type="checkbox"] {
  appearance: none;
  width: auto;
  flex: 0 0 auto;
  outline: none !important;
  border: none !important;
  padding: 0;
  margin: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: none;
}
kit-root input[type="checkbox"]::after {
  box-sizing: border-box;
  display: block;
  background-color: var(--widget-bg);
  width: 100%;
  height: 100%;
  border: 1px solid var(--widget-border-color);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  box-shadow: inset 1px 1px 2px 1px #1c1c1c;
}
kit-root input[type="checkbox"]:hover::after {
  border-color: var(--highlight);
}
kit-root kit-section {
  display: flex;
  flex-direction: column;
  padding-block: var(--section-padding);
}
kit-root kit-line {
  padding-block: var(--widget-gap);
  padding-inline: var(--section-padding);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4em;
  min-width: 0;
  min-height: var(--widget-height);
}
kit-root kit-line:hover {
  background-color: hsl(from var(--inspector-bg) h s calc(l + var(--line-hover-highlight)));
}
kit-root kit-line kit-label {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.4em;
  font-size: 0.95em;
  margin-left: 0.3em;
}
kit-root kit-line kit-label:empty:not(.first) {
  display: none;
}
kit-root kit-line .first {
  flex: 0 0 85px;
  text-align: right;
  margin-left: 0;
}
kit-root kit-line kit-slider-group-label {
  display: flex !important;
  align-items: center;
  justify-content: end;
  gap: 0.3em;
}
kit-root kit-line kit-div {
  display: contents;
}
kit-root kit-line input,
kit-root kit-line kit-select {
  flex: 1 1;
  text-align: left;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  height: var(--widget-height);
  font-size: 0.95em;
  color: #EEE;
  text-shadow: 0px 1px 0px black;
  background-color: var(--widget-bg);
  padding: 0;
  padding-left: 0.2em;
  overflow: clip;
  border: var(--basic-border);
  border-color: var(--widget-border-color);
  border-radius: var(--basic-border-radius);
}
kit-root kit-line input:focus,
kit-root kit-line kit-select:focus {
  outline-color: #777;
}
kit-root kit-line .texture-choice {
  display: flex;
  align-items: center;
}
kit-root kit-line .texture-choice > :first-child {
  height: var(--widget-height);
  flex: 1 1 auto;
}
kit-root kit-line .texture-choice > :first-child input {
  height: 100%;
  width: 100% !important;
}
kit-root kit-line .texture-choice > :first-child .texture-preview {
  position: absolute;
  height: calc(var(--widget-height) - 4px);
  width: unset;
  aspect-ratio: 1/1;
  background-size: cover !important;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 2px;
  right: 0;
  top: 0;
}
kit-root kit-line .texture-choice .hide-button {
  height: unset;
  width: unset;
  aspect-ratio: 1/1;
  height: var(--widget-height);
  margin: 0;
  box-sizing: border-box;
}
kit-root kit-line kit-slider {
  flex: 1 1;
  display: flex;
  height: var(--widget-height);
  align-self: flex-start;
}
kit-root kit-line kit-slider > input {
  font-variant-numeric: tabular-nums;
  cursor: ew-resize;
  height: 100%;
  vertical-align: center;
}
kit-root kit-line kit-select {
  flex: 1 1;
  cursor: pointer;
  align-self: stretch;
  display: flex;
  align-items: center;
}
kit-root kit-line kit-select span {
  flex: 1 1;
}
kit-root kit-line kit-select::after {
  flex: 0 0 12px;
  display: inline-block;
  justify-self: flex-end;
  content: "";
  margin: 8px;
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
  background-color: currentColor;
  mask-image: url("res/icons/svg/right_caret.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  pointer-events: all;
}
kit-root kit-line .gradient-box {
  height: var(--widget-height);
}
kit-root kit-line .color-box {
  height: var(--widget-height);
}
kit-root kit-line kit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  border: var(--basic-border);
  border-color: var(--widget-border-color);
  border-radius: var(--basic-border-radius);
  background-color: #4d4d4d;
  height: var(--widget-height);
  align-self: stretch;
  text-align: center;
  cursor: pointer;
  --widget-bg: var(--button-bg);
  --hover: 0;
  background-color: hsl(from var(--button-bg) h s calc(l + var(--hover) * var(--title-background-color-hover)));
}
kit-root kit-line kit-button:active {
  position: relative;
  top: 1px;
}
kit-root kit-line kit-button.highlight {
  --button-bg: var(--button-bg-highlight);
}
kit-root kit-line kit-button:hover {
  --hover: 1;
}
kit-root kit-line kit-button > kit-image {
  flex: 1 1 auto;
  max-width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}
kit-root kit-line kit-button:has(kit-image) {
  flex: 0 1 1.6em;
  padding: 3px;
  height: unset;
}
kit-root kit-line kit-button.kit-medium {
  flex: 0 1 32px;
}
kit-root kit-line kit-button.kit-big {
  flex: 0 1 64px;
}
kit-root kit-line kit-button.kit-huge {
  flex: 0 1 64px;
}
kit-root kit-line input,
kit-root kit-line kit-select,
kit-root kit-line kit-button {
  --hover: 0;
  background-color: hsl(from var(--widget-bg) h s calc(l + var(--hover) * var(--title-background-color-hover)));
}
kit-root kit-line input:hover,
kit-root kit-line kit-select:hover,
kit-root kit-line kit-button:hover {
  border: var(--basic-border-hover);
  --hover: 1;
}
kit-root kit-line kit-multiline {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}
kit-root kit-line kit-multiline kit-div {
  display: flex;
  min-width: 40px;
  flex: 1 1;
  gap: 0.4em;
}
