body {
  margin: 0;
  padding: 0;
  background-color: black;
}
a {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
td,
th,
li,
p,
a,
input,
select {
  font-family: Verdana, serif;
  font-size: 9pt;
  color: #aaa;
}
input {
  padding-left: 4px;
}
select:focus {
  outline: none;
}
select:focus:hover {
  border-color: #444;
}
select,
input {
  background-color: #222222;
  border: 1px solid #444;
}
select:focus,
input:focus {
  background-color: #141414;
}
select:hover,
input:hover {
  border-color: #888;
}
input.file {
  cursor: pointer;
}
input.file.dragover {
  border-color: white;
  background-color: #141414;
}
input[type=button] {
  background-color: #444;
  cursor: pointer;
}
input[type=button]:hover {
  color: white;
  background-color: #666;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: 1px solid #aaa;
  height: 6px;
  width: 6px;
  background: #ccc;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #141414;
  border: 1px solid #444;
}
input[type=checkbox] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  top: 1px;
}
input[type=checkbox]:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 13px;
  width: 13px;
  left: 0px;
  top: 0px;
  font-size: 10px;
  box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
  background: #202020;
  color: #fff;
}
input[type=checkbox]:checked:after {
  content: '\2714';
}
#mainmenu {
  display: none;
}
.hide-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
}
.checkbox-wrapper {
  display: inline-block;
}
.hide-loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('libs/jstree/default-dark/throbber.gif');
}
.hide-scene-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hide-scene {
  position: absolute;
  cursor: default;
}
.hide-scene-layer {
  width: auto;
  position: absolute;
  z-index: 1;
  height: 100%;
}
.hide-scene-layer .jstree {
  padding-right: 5px;
}
.hide-scene-layer .jstree-container-ul {
  padding-right: 5px;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
}
.flex > * {
  flex-grow: 100;
}
.flex.vertical {
  flex-direction: column;
}
.hide-toolbar {
  flex: none;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 6px;
  background-color: #222222;
  border-bottom: 1px solid #000;
}
.hide-toolbar .button,
.hide-toolbar .toggle {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #5a5a5a;
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 1px;
  text-shadow: 1px 2px 2px black;
  background: -webkit-linear-gradient(top, #5a5a5a, #323232);
  cursor: pointer;
  font-size: 16px;
  vertical-align: top;
}
.hide-toolbar .button > .icon,
.hide-toolbar .toggle > .icon {
  vertical-align: center;
}
.hide-toolbar .button:hover,
.hide-toolbar .toggle:hover {
  color: white;
  border-color: white;
  background-color: #666;
}
.hide-toolbar .toggle.toggled {
  color: #ddd;
  background: #777;
  padding-top: 2px;
  padding-bottom: 1px;
  text-shadow: none;
  border-top-width: 2px;
  border-top-color: #444;
}
.hide-toolbar .button:active {
  padding-top: 3px;
  padding-bottom: 1px;
}
.hide-toolbar .select {
  height: 20px;
  padding: 2px;
  padding-top: 4px;
  margin-right: 5px;
  display: inline-block;
}
.hide-toolbar .select .icon {
  font-size: 16px;
  vertical-align: top;
}
.hide-toolbar .select > select {
  margin-left: 5px;
  min-width: 100px;
}
/* Properties */
.hide-properties {
  flex: 0 0 300px;
  padding: 10px;
  overflow: auto;
  padding-bottom: 80px;
}
.hide-properties .section {
  margin-bottom: 10px;
}
.hide-properties .section > h1 {
  font-size: 12px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  padding: 2px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  background-color: #333;
}
.hide-properties .section > h1:hover {
  background-color: #555;
}
.hide-properties .section > h1:before {
  content: "\25ba  ";
}
.hide-properties .section.open > h1:before {
  content: "\25bc  ";
}
.hide-properties dl {
  margin: 0px;
  overflow: hidden;
}
.hide-properties dd,
.hide-properties dt {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  margin-top: 4px;
}
.hide-properties dt {
  width: 80px;
  text-align: right;
  font-size: 11px;
  color: #aaa;
  user-select: none;
  cursor: default;
}
.hide-properties dd {
  position: relative;
  width: 200px;
  margin-left: 10px;
}
.hide-properties dd input:not([type=checkbox]):not([type=number]) {
  width: 190px;
}
.hide-properties dd select {
  width: 197px;
}
.hide-properties dd .range-group input[type=range] {
  display: inline-block;
  width: 155px;
}
.hide-properties dd .range-group input[type=text] {
  display: inline-block;
  width: 30px;
  margin-left: 3px;
  border-color: transparent;
}
.hide-properties dd .range-group input[type=text]:hover,
.hide-properties dd .range-group input[type=text]:active {
  border-color: #444;
}
.hide-properties dd .texture-preview {
  pointer-events: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: -17px;
  margin-top: 2px;
}
.hide-properties .group {
  margin-bottom: 5px;
}
.hide-properties .group > .title {
  text-align: center;
  background-color: #1e1e1e;
  cursor: pointer;
  user-select: none;
  padding: 1px;
}
.hide-properties .group > .content {
  margin-bottom: 5px;
}
/* Golden Layout Fixes */
.lm_header .lm_tabs {
  z-index: 1;
}
.lm_dropTargetIndicator {
  box-shadow: none;
}
div.lm_close_tab {
  top: 0px !important;
  right: 0px !important;
  width: 20px !important;
  height: 18px !important;
}
div.lm_close_tab:hover {
  background-color: #555 !important;
}
/* JSTree fixes */
.jstree {
  background: transparent !important;
}
.jstree-icon.jstree-ocl {
  opacity: 0.7;
  width: 18px !important;
  top: -1px;
}
.jstree-icon {
  color: #aaa !important;
}
