body {
	margin : 0;
	padding : 0;
	background-color : #CCC;
}
ul, li {
	margin : 0;
	padding : 0;
	list-style : none;
}
body, td, th, li, p, a, input, select {
	font-family : Verdana, serif;
	font-size : 10pt;
}
a {
	text-decoration : none;
}
.lm_header .lm_tabs {
	z-index : 1;
}
.lm_dropTargetIndicator {
	-moz-box-shadow : none;
	-webkit-box-shadow : none;
	box-shadow : none;
}
