body {
	margin : 0;
	padding : 0;
	background-color : black;
}

ul, li {
	margin : 0;
	padding : 0;
	list-style : none;
}

body, td, th, li, p, a, input, select {
	font-family : Verdana, serif;
	font-size : 9pt;
	color: #aaa;
}

a {
	text-decoration : none;
}

#mainmenu { display : none }

.hide-scrollzone {
	width : 100%;
	height : 100%;
	overflow : auto;
}

.hide-scrollzone::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.hide-scrollzone::-webkit-scrollbar-track {
	background: #666;
}

.hide-scrollzone::-webkit-scrollbar-thumb {
	background: #ddd;
}

.hide-loading {
	width : 16px;
	height : 16px;
	display : inline-block;
	background : url('libs/jstree/default-dark/throbber.gif');
}

.hide-scene {
	cursor: default;
}

.hide-scene-layer {
	position: absolute;
	z-index: 1;
	height: 100%;
}

.hide-scene-layer .jstree {
	background: transparent !important;
	user-select: none;
}

.hide-toolbar-content {
	flex-grow: 100;
	position: relative;
}

.hide-toolbar-content > canvas {
	position : absolute;
}

.hide-toolbar-container {
	display: flex;
	flex-direction: column;
	height : 100%;
}

.hide-toolbar {
	width: 100%;
	height : 24px;
	padding : 4px;
	padding-top: 2px;
	padding-bottom: 6px;
	background-color : rgb(34,34,34);
	border-bottom : 1px solid #000;
}

.hide-toolbar-button, .hide-toolbar-toggle {
	margin-right : 5px;
	display: inline-block;
	border: 1px solid rgb(90,90,90);
	width : 20px;
	height : 20px;
	padding : 2px;
	text-align: center;
	border-radius: 1px;
	text-shadow: 1px 2px 2px black;
	background: -webkit-linear-gradient(top, rgb(90,90,90), rgb(50,50,50));
	cursor : pointer;
	font-size: 16px;
	vertical-align: top;
}

.hide-toolbar-button .hide-toolbar-icon {
	vertical-align: center;
}

.hide-toolbar-button:hover, .hide-toolbar-toggle:hover {
	color : white;
	border-color : white;
	background-color : #666;
}

.hide-toolbar-toggle.toggled {
	color : #ddd;
	background : #777;
	padding-top: 2px;
	padding-bottom: 1px;
	text-shadow: none;
	border-top-width: 2px;
	border-top-color: #444;
}

.hide-toolbar-button:active {
	padding-top: 3px;
	padding-bottom: 1px;
}

.hide-toolbar-select {
	height : 20px;
	padding : 2px;
	padding-top: 4px;
	margin-right : 5px;
	display : inline-block;
}

.hide-toolbar-select .hide-toolbar-icon {
	font-size: 16px;
	vertical-align: top;
}

.hide-toolbar-select > select {
	margin-left : 5px;
	min-width : 100px;
}

select {
	background-color: rgb(34,34,34);
}

/* Golden Layout Fixes */

.lm_header .lm_tabs {
	z-index : 1;
}

.lm_dropTargetIndicator {
	box-shadow : none;
}
div.lm_close_tab { top : 0px !important; right : 0px !important; width : 20px !important; height : 18px !important; }
div.lm_close_tab:hover { background-color : #555 !important; }

/* JSTree fixes */

.jstree-icon {
	color : #888 !important;
}