body {
  margin: 0;
  padding: 0;
  background-color: black;
}
a {
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body,
td,
th,
li,
p,
a,
input,
select,
textarea,
body .select2-dropdown {
  font-family: Verdana, serif;
  font-size: 9pt;
  color: #aaa;
}
canvas {
  user-select: none;
}
input,
textarea {
  padding-left: 4px;
}
select:focus {
  outline: none;
}
select:focus:hover {
  border-color: #444;
}
select,
input,
textarea,
body .select2-dropdown {
  background-color: #222222;
  border: 1px solid #444;
}
select:focus,
input:focus,
textarea:focus,
body .select2-dropdown:focus {
  background-color: #141414;
}
select:hover,
input:hover,
textarea:hover,
body .select2-dropdown:hover {
  border-color: #888;
}
body .select2-container--default .select2-selection--single {
  background-color: #222222;
  border: none;
  height: auto;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 2px;
  color: #aaa;
  line-height: inherit;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
body .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #444;
}
body .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
}
.select2-results__option > div {
  display: flex;
  align-items: center;
}
.select2-results__option > div div.tile {
  margin-right: 5px;
}
input.file {
  cursor: pointer;
}
input.file.dragover {
  border-color: white;
  background-color: #141414;
}
input[type=button] {
  background-color: #444;
  cursor: pointer;
}
input[type=button]:hover {
  color: white;
  background-color: #666;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  padding: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  outline: 1px solid #aaa;
  height: 6px;
  width: 6px;
  background: #ccc;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #141414;
  border: 1px solid #444;
}
input[type=checkbox] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 13px;
  height: 13px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  top: 1px;
}
input[type=checkbox]:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  position: absolute;
  cursor: pointer;
  height: 13px;
  width: 13px;
  left: 0px;
  top: 0px;
  font-size: 10px;
  box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
  background: #202020;
  color: #fff;
}
input[type=checkbox]:checked:after {
  content: '\2714';
}
#mainmenu {
  display: none;
}
.hide-scroll {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.hide-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  display: table;
}
.hide-modal > .content {
  display: table-cell;
  vertical-align: middle;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar-thumb {
  background: #ddd;
}
.checkbox-wrapper {
  display: inline-block;
}
.hide-loading {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('libs/jstree/default-dark/throbber.gif');
}
.hide-scene-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hide-scene {
  position: absolute;
  cursor: default;
}
.hide-scene-layer {
  width: auto;
  position: absolute;
  z-index: 1;
  max-height: 100%;
}
.hide-scene-layer .jstree {
  padding-right: 5px;
}
.hide-scene-layer .jstree-container-ul {
  padding-right: 5px;
}
.hide-scene-tree {
  height: 100%;
}
.hide-tileselect {
  width: 800px;
  height: 600px;
  display: inline-block;
  background-color: #111;
  border: 1px solid #666;
  text-align: left;
  overflow: hidden;
}
.hide-tileselect .flex-scroll {
  display: flex;
  flex-direction: column;
}
.hide-tileselect .flex-scroll .scroll {
  flex-grow: 1;
  overflow: auto;
}
.hide-tileselect .flex-scroll .scroll .tile {
  background-color: #202;
  position: relative;
}
.hide-tileselect .flex-scroll .scroll .tile .valueDisp {
  position: absolute;
  background-color: rgba(0, 80, 128, 0.3);
  border: 1px solid rgba(128, 128, 128, 0.5);
  pointer-events: none;
}
.hide-tileselect .flex-scroll .scroll .tile .cursor {
  position: absolute;
  border: 1px solid #fff;
  pointer-events: none;
}
.hide-range {
  display: inline-block;
}
.hide-range input[type=range] {
  display: inline-block;
  width: 145px;
}
.hide-range input[type=range].small {
  width: 123px;
}
.hide-range input[type=text] {
  display: inline-block;
  width: 44px;
  padding-left: 2px;
  margin-left: 3px;
  border-color: transparent;
}
.hide-range input[type=text]:hover,
.hide-range input[type=text]:active {
  border-color: #444;
}
.flex {
  width: 100%;
  height: 100%;
  display: flex;
}
.flex > * {
  flex-grow: 100;
}
.flex.vertical {
  flex-direction: column;
}
.hide-toolbar {
  flex: none;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #222222;
  border-bottom: 1px solid #000;
  display: inline-block;
}
.hide-toolbar .button,
.hide-toolbar .toggle {
  margin-right: 5px;
  display: inline-block;
  user-select: none;
  border: 1px solid #5a5a5a;
  min-width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
  border-radius: 1px;
  text-shadow: 1px 2px 2px black;
  background: -webkit-linear-gradient(top, #5a5a5a, #323232);
  cursor: pointer;
  font-size: 16px;
  vertical-align: top;
}
.hide-toolbar .button > .icon,
.hide-toolbar .toggle > .icon {
  vertical-align: center;
}
.hide-toolbar .button:hover,
.hide-toolbar .toggle:hover {
  color: white;
  border-color: white;
  background-color: #666;
}
.hide-toolbar .button label,
.hide-toolbar .toggle label {
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
  text-shadow: none;
}
.hide-toolbar .button label.locked,
.hide-toolbar .toggle label.locked {
  color: #000;
  font-style: italic;
}
.hide-toolbar .toggle.toggled {
  color: #ddd;
  background: #777;
  padding-top: 2px;
  padding-bottom: 1px;
  text-shadow: none;
  border-top-width: 2px;
  border-top-color: #444;
}
.hide-toolbar .toggle.toggled:hover {
  border-top-width: 1px;
  padding-top: 3px;
  border-top-color: white;
}
.hide-toolbar .button:active {
  padding-top: 3px;
  padding-bottom: 1px;
}
.hide-toolbar .select {
  height: 20px;
  padding: 2px;
  padding-top: 4px;
  margin-right: 5px;
  display: inline-block;
}
.hide-toolbar .select .icon {
  font-size: 16px;
  vertical-align: top;
}
.hide-toolbar .select > select {
  margin-left: 5px;
  min-width: 100px;
}
.hide-list {
  width: 100%;
  min-height: 200px;
  background-color: #111;
  border: 1px solid #444;
  overflow: auto;
}
.hide-block {
  padding: 8px;
}
.hide-tabs {
  flex: 0 0 320px;
}
.hide-tabs > .tabs-header {
  background-color: #111;
  padding: 2px;
  padding-bottom: 0px;
}
.hide-tabs > .tabs-header > div {
  cursor: pointer;
  display: inline-block;
  background-color: #202020;
  padding: 2px 5px;
  border: 1px solid #444;
  margin-left: -1px;
}
.hide-tabs > .tabs-header > div.active {
  background-color: #222;
  border-bottom-color: #222;
}
.hide-tabs > .tabs-header > div:hover {
  background-color: #282828;
}
.hide-tabs .tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.searchBox {
  display: none;
  width: 200px;
  position: fixed;
  top: 20px;
  right: 0px;
  background-color: black;
  border: 1px solid #555;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 5px;
  padding: 5px;
  color: #444;
}
.searchBox input {
  width: 170px;
  background-color: black;
}
.searchBox i {
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
  font-size: 18px;
  color: #888;
}
.searchBox i:hover {
  color: #EEE;
}
/* Properties */
.hide-properties {
  flex: 0 0 300px;
  padding: 10px;
  overflow: auto;
  padding-bottom: 80px;
}
.hide-properties .section {
  margin-bottom: 10px;
}
.hide-properties .section > h1 {
  font-size: 12px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  padding: 2px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  background-color: #333;
}
.hide-properties .section > h1:hover {
  background-color: #555;
}
.hide-properties .section > h1:before {
  content: "\25ba  ";
}
.hide-properties .section.open > h1:before {
  content: "\25bc  ";
}
.hide-properties dl {
  overflow-x: hidden;
  margin: 0px;
}
.hide-properties dd,
.hide-properties dt {
  vertical-align: middle;
  display: inline-block;
  overflow-x: hidden;
  margin-top: 4px;
}
.hide-properties dd span,
.hide-properties dt span {
  display: inline-block;
  width: 20px;
}
.hide-properties dt {
  width: 80px;
  text-align: right;
  font-size: 11px;
  color: #aaa;
  user-select: none;
  text-transform: capitalize;
  cursor: pointer;
}
.hide-properties input {
  width: 190px;
}
.hide-properties input.small {
  width: 170px;
}
.hide-properties input[type=checkbox] {
  width: 13px;
}
.hide-properties dt input[type=button] {
  width: 100%;
  text-align: right;
  background: none;
  border: none;
  zoom: 1;
  font-size: 11px;
}
.hide-properties select {
  width: 197px;
}
.hide-properties dd {
  position: relative;
  width: 200px;
  margin-left: 10px;
}
.hide-properties dd .texture-preview {
  pointer-events: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: -17px;
  margin-top: 2px;
}
.hide-properties dl dl dt {
  width: 50px;
}
.hide-properties dl dl dd {
  width: 140px;
}
.hide-properties dl dl input[type=range] {
  width: 90px;
}
.hide-properties dl dl .hide-range input[type=text] {
  width: 30px;
}
.hide-properties .group {
  margin-bottom: 5px;
}
.hide-properties .group > .title {
  text-align: center;
  background-color: #1e1e1e;
  cursor: pointer;
  user-select: none;
  padding: 1px;
}
.hide-properties .group > .content {
  margin-bottom: 5px;
}
/* Curve editor */
.hide-curve-editor:focus {
  background-color: rgba(0, 0, 0, 0.219);
  outline: none;
}
.hide-curve-editor svg line {
  stroke-width: 1px;
}
.hide-curve-editor svg rect {
  shape-rendering: crispEdges;
}
.hide-curve-editor svg .grid line {
  shape-rendering: crispEdges;
}
.hide-curve-editor svg .grid .hgrid line {
  stroke: #444;
}
.hide-curve-editor svg .grid .vgrid line {
  stroke: #444;
}
.hide-curve-editor svg .grid line.axis {
  stroke: #747474;
  shape-rendering: crispEdges;
}
.hide-curve-editor svg .grid text {
  font: 10px sans-serif;
  fill: #555;
}
.hide-curve-editor svg .graph .selection rect {
  fill: #ffffff;
  fill-opacity: 0.1;
  stroke: #ffffff;
  opacity: 0.3;
  mix-blend-mode: screen;
}
.hide-curve-editor svg .graph .curve line,
.hide-curve-editor svg .graph path {
  stroke: #ff1f1f;
  stroke-width: 1px;
  fill: none;
}
.hide-curve-editor svg .graph .vectors line {
  stroke: rgba(207, 207, 207, 0.603);
}
.hide-curve-editor svg .graph .vectors line.selected {
  stroke: #ffffff;
}
.hide-curve-editor svg .graph .handles circle,
.hide-curve-editor svg .graph .handles rect {
  fill: rgba(187, 187, 187, 0.644);
  cursor: pointer;
}
.hide-curve-editor svg .graph .handles circle:hover,
.hide-curve-editor svg .graph .handles rect:hover {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
}
.hide-curve-editor svg .graph .handles circle.selected,
.hide-curve-editor svg .graph .handles circle:hover.selected,
.hide-curve-editor svg .graph .handles rect.selected,
.hide-curve-editor svg .graph .handles rect:hover.selected {
  fill: #ffffff;
}
.hide-curve-editor svg .selection-overlay rect {
  mix-blend-mode: multiply;
  fill: #888;
  fill-opacity: 20px;
  stroke: #000;
  opacity: 50%;
}
/* FX Editor */
.fx-animpanel {
  position: relative;
}
.fx-animpanel .anim-scroll {
  overflow-y: scroll;
  height: 400px;
}
.fx-animpanel .top-bar {
  margin-left: 120px;
  position: relative;
  height: 100%;
}
.fx-animpanel .timeline {
  background: #141414;
  position: relative;
  height: 20px;
  overflow: hidden;
}
.fx-animpanel .timeline .mark {
  height: 100%;
  border-left: 1px solid white;
  vertical-align: middle;
  padding-left: 4px;
  position: absolute;
  line-height: 20px;
  user-select: none;
}
.fx-animpanel .overlay-container {
  top: 0;
  position: absolute;
  height: 100%;
  pointer-events: none;
  left: 120px;
  right: 0px;
}
.fx-animpanel .overlay-container .overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fx-animpanel .overlay-container .overlay .timeline {
  position: absolute;
  height: 100%;
  width: 1px;
  background: green;
}
.fx-animpanel .overlay-container .overlay .selection {
  position: absolute;
  height: 100%;
  background: #17ffeb12;
  mix-blend-mode: hard-light;
  border-left: 1px black;
  border-right: 1px black;
}
.fx-animpanel .overlay-container .overlay .preview {
  position: absolute;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.9;
  mix-blend-mode: screen;
  border-left: 1px black;
  border-right: 1px black;
}
.fx-animpanel .overlay-container .overlay .preview-left {
  background: rgba(0, 0, 0, 0.3);
  border-right: 1px dashed #797979;
  position: absolute;
  height: 100%;
}
.fx-animpanel .overlay-container .overlay .preview-right {
  background: rgba(0, 0, 0, 0.3);
  border-left: 1px dashed #797979;
  position: absolute;
  height: 100%;
}
.fx-animpanel .tracks-header {
  background: #4a4a4a;
  text-align: left;
}
.fx-animpanel .tracks-header label {
  margin-left: 4px;
  color: white;
}
.fx-animpanel .tracks-header .addtrack {
  margin-left: 4px;
  padding: 2px;
}
.fx-animpanel .tracks-header .addtrack:hover {
  color: white;
}
.fx-animpanel .track .track-header {
  height: 20px;
  display: flex;
  user-select: none;
}
.fx-animpanel .track .track-header .track-prop {
  cursor: pointer;
  text-align: right;
  width: 120px;
  height: 100%;
}
.fx-animpanel .track .track-header .track-prop label {
  vertical-align: middle;
  padding-right: 4px;
}
.fx-animpanel .track .track-header .track-prop .track-toggle {
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
}
.fx-animpanel .track .track-header .track-prop:hover {
  background: rgba(0, 0, 0, 0.438);
}
.fx-animpanel .track .track-header .dopesheet {
  position: relative;
  height: 100%;
  flex-grow: 1;
  background: #333;
  box-shadow: 0px -1px 0px black inset;
  overflow-x: hidden;
}
.fx-animpanel .track .track-header .dopesheet .key {
  cursor: pointer;
  user-select: none;
  position: absolute;
  width: 5px;
  margin-top: 1px;
  margin-left: -2px;
  height: 15px;
  background: #9a9a9a;
  border: 1px solid black;
}
.fx-animpanel .track .track-header .dopesheet .key:hover {
  background: white;
}
.fx-animpanel .track .track-header .dopesheet .key .sp-replacer {
  border: none;
  padding: 0;
}
.fx-animpanel .track .curve {
  margin-left: 120px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: relative;
}
.fx-animpanel .track .curves.hidden {
  display: none;
}
.fx-animpanel .track label.curve-label {
  user-select: none;
  position: absolute;
  text-transform: capitalize;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  mix-blend-mode: overlay;
}
/* Golden Layout Fixes */
.lm_header .lm_tabs {
  z-index: 1;
}
.lm_dropTargetIndicator {
  box-shadow: none;
}
div.lm_close_tab {
  top: 0px !important;
  right: 0px !important;
  width: 20px !important;
  height: 18px !important;
}
div.lm_close_tab:hover {
  background-color: #555 !important;
}
body.hide-subview .lm_header .lm_tab {
  padding-right: 10px;
}
body.hide-subview .lm_close_tab,
body.hide-subview .lm_controls {
  display: none;
}
/* JSTree fixes */
.jstree {
  background: transparent !important;
}
.jstree .filtered {
  display: none;
}
.jstree .invisible a {
  color: #555 !important;
  display: inline;
}
.jstree .invisible i {
  color: #555;
}
.jstree .disabled a {
  color: #533 !important;
  display: inline;
}
.jstree .disabled i {
  color: #533;
}
.jstree a.locked {
  color: #666 !important;
  font-style: italic;
}
.jstree a.locked::after {
  content: " (locked)";
}
.jstree-icon.jstree-ocl {
  opacity: 0.7;
  width: 18px !important;
  top: -1px;
}
.jstree-icon i {
  color: #aaa;
}
.jstree.small a {
  font-size: 12px;
}
.jstree.small .jstree-node {
  min-height: 18px;
  line-height: 18px;
  margin-left: 12px;
  min-width: 18px;
}
.jstree.small .jstree-anchor {
  line-height: 18px;
  height: 18px;
}
.jstree.small .jstree-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.jstree.small .jstree-icon:empty {
  width: 18px;
  height: 18px;
  line-height: 18px;
}
.jstree.small .jstree-wholerow {
  height: 18px;
}
/* Spectrum Color picker */
div.sp-replacer {
  vertical-align: top;
  background-color: #444;
  border: 1px solid #666;
  height: 16px;
  margin-right: 5px;
}
div.sp-replacer .sp-preview {
  width: 14px;
  height: 14px;
}
div.sp-replacer .sp-dd {
  padding-top: 0px;
}
div.sp-replacer:hover {
  border-color: white;
}
div.sp-replacer.sp-active {
  border-color: #888;
}
div.sp-container {
  background-color: #444;
  border: 1px solid #666;
}
div.sp-container .sp-picker-container {
  border: none;
}
div.sp-container input {
  color: #aaa;
  background-color: #222222;
  border-radius: 0px;
}
div.sp-container input:hover {
  border-color: white;
}
