@import "common.less";

@font-face {
	font-family: 'FontAwesome';
	src: url('libs/fontawesome-webfont.eot?v=4.7.0');
	src: url('libs/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('libs/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('libs/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('libs/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('libs/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	margin : 0;
	padding : 0;
	background-color : black;
	user-select:none;
}

.quickMessage {
	display: flex;
	position : absolute;
	z-index : 999;
	bottom:50px;
	left:800px;
	border : 1px solid #686868;
	border-radius : 5px;

	.icon {
		border : 0px solid #686868;
		border-radius : 4px 0px 0px 4px;
		padding: 5px 5px 3px 5px;
		background: #666666;
	}

	.text {
		border : 0px solid #686868;
		border-radius : 0px 4px 4px 0px;
		background: #222222;
		padding: 3px 10px 3px 3px;
	}
}

.globalErrorMessage {
	position : absolute;
	z-index : 999;
	bottom:0px;
	left:0px;
	padding : 3px;
	background: #400;
	color : red;
	border : 1px solid #C00;
}

.error-panel {
	position : absolute;
	width: 100%;
	z-index : 999;
	bottom:0px;
	left:0px;
	padding : 1px;

	.error-banner {
		text-align: center;
		z-index : 999;
		padding : 1px;
		width: 100%;
		background: #ff5555;
		color : #191A21;
		border : 1px solid #ff5555;
		display: inline-block;

		button {
			i {
				margin-right: 3px;
			}

			height: 100%;
			background: #ff5555;
			color : #191A21;
			float: left;
			font-family : Verdana, serif;
			margin-left: 5px;
			border: none;
			font-family : Verdana, serif;
			font-size : 9pt;
		}

		button:hover {
			background:#FA6868;
			color:white;
		}
	}

	.error-log {
		&.hidden {
			display: none;
		}

		p {
			font-family : Verdana, serif;
			margin: 0px;
			padding-top: 5px;
			padding-left: 5px;
		}

		display: flex;
		flex-direction: column-reverse;
		height: 150px;
		width: 100%;
		background-color: #111111;
		overflow-y: scroll;
	}
}

//:focus { outline: none; }

ul, li {
	margin : 0;
	padding : 0;
	list-style : none;
}

body, td, th, li, p, a, input, select, textarea, body .select2-dropdown {
	font-family : Verdana, serif;
	font-size : 9pt;
	color: #aaa;
}

a {
	color : #aaf;
	text-decoration : none;
}

canvas {
	user-select: none;
}

input, textarea {
	padding-left : 4px;
}

.custom-text-edit {
	//padding-left: 2px;
	max-height: 200px; overflow-y:auto; overflow-x:hidden;

	&:focus {
		outline: 1px solid #888888;
		outline-offset: 1px;
	}
}

.custom-text-edit-standalone {
	background-color: rgb(34,34,34);
	border : 1px solid #444;
	padding: 2px 4px;
	&:focus {
		background-color: rgb(20,20,20);
	}
	&:hover {
		border-color : #888;
	}
	.custom-text-edit();
}

select {
	&:focus {
		outline: none;
	}
	&:focus:hover {
		border-color : #444;
	}
}

select, input, textarea, .hide-dropdown >.dropdown-cont, body .select2-dropdown {
	background-color: rgb(34,34,34);
	border : 1px solid #444;
	&:focus {
		background-color: rgb(20,20,20);
	}
	&:hover {
		border-color : #888;
	}
}

body .select2-container--default {
	.select2-selection--single {
		background-color: rgb(34,34,34);
		border : none;
		height: auto;
		.select2-selection__rendered {
			padding-left: 2px;
			color: #aaa;
			line-height: inherit;
		}
		.select2-selection__arrow {
			display: none;
		}
	}
	.select2-results__option[aria-selected=true] {
		background-color: #444;
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: #5897fb;
	}
}

.select2-results__option > div {
	display : flex;
	align-items: center;
	div.tile {
		margin-right : 5px;
	}
}

.select-box {
	color: @color-text;
	border-color: #888;
	border-style: solid;
	border-width: 1px;
	width: 178px;
	display: inline-block;
}

.hide-dropdown {
	position: relative;
	width: 100%;
	>.dropdown-cont {
		z-index: @contextmenu-layer;
		position: absolute;
		width: 100%;

		.filter-input {
			z-index: @contextmenu-layer;
			margin: 4px;
			width: calc(100% - 16px);
		}
		.options {
			z-index: @contextmenu-layer;
			max-height: 200px;
			overflow-y: auto;
			width: 100%;
			.dropdown-option {
				z-index: @contextmenu-layer;
				display : flex;
				align-items: center;
				cursor: pointer;
				padding: 6px;
				user-select: none;

				&.compact {
					padding-top: 0;
					padding-bottom: 0;
				}

				div.tile {
					margin-right : 5px;
				}

				p {
					display: inline-block;
					margin: 0;
				}

				&.current-value {
					background-color: #444;
				}
				&.highlighted {
					background-color: #5897fb;
					>p {
						color: #fff;
					}
				}
				&.hidden {
					display: none;
				}
			}
		}
	}
}

.global-seek {
	.hide-dropdown{
		width: auto;
		margin-left: calc(50% - 400px);
		margin-right: calc(50% - 400px);
	}
}

input.file {
	cursor : pointer;
	&.dragover {
		border-color : white;
		background-color : rgb(20,20,20);
	}
}

input[type=button] {
	background-color : #444;
	cursor : pointer;
	&:hover {
		color : white;
		background-color : #666;
	}
	&:disabled {
		color : rgb(192, 192, 192);
		background-color : rgb(56, 56, 56);
	}
	&:active {
		color : white;
		background-color : #424242;
	}
}

input[type=range] {
	appearance: none;
	background: transparent;
	border:none;
	padding:0;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		outline: 1px solid #aaa;
		height: 6px;
		width: 6px;
		background: #ccc;
		cursor: pointer;
		margin-top: 0px;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		background: rgb(20,20,20);
		border: 1px solid #444;
	}
}

input[type=checkbox] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 1px;
    display: block;
    float: left;
    position: relative;
    cursor:pointer;
	top:1px;
	&:after {
		content:"";
		vertical-align: middle;
		text-align: center;
		line-height: 13px;
		position: absolute;
		cursor: pointer;
		height: 13px;
		width: 13px;
		left:0px;
		top:0px;
		font-size:10px;
		box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
		background: #202020;
		color: #fff;
	}

	&:checked:after {
		content:'\2714';
	}
}

#mainmenu { display : none }

.hide-scroll {
	max-width : 100%;
	max-height : 100%;
	overflow : auto;
}

.hide-modal {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index: @hidemodal-layer;
	background-color: rgba(0,0,0,0.2);
	display: table;
	&> .content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #666;
}

::-webkit-scrollbar-thumb {
	background: #ddd;
}

.checkbox-wrapper {
	display:inline-block;
}

.hide-loading {
	width : 16px;
	height : 16px;
	display : inline-block;
	background : url('libs/jstree/default-dark/throbber.gif');
}

.hide-scene-container {
	width:100%;
	height:100%;
	position:relative;
}

.hide-scene {
	position:absolute;
	cursor: default;
}

.hide-scene-layer {
	width:auto;
	position: absolute;
	z-index: @default-layer;
	max-height: 100%;

	.jstree {
		padding-right : 5px;
	}

	.jstree-container-ul {
		padding-right : 5px;
	}

}

.scene-partition > .props-column {
	.hide-toolbar {
		padding-bottom: 4px;
	}
}


.scene-partition.reduced-columns {
	.hide-scenetree {
		max-height: 40%;
	}
	.tree-column {
		min-width: 322px;
		max-width: 1402px;
	}

	.props-column {
		max-height: 60%;
		padding-bottom: 36px;
	}
}

.tree-column {
	min-width: 302px;
	max-width: 1002px;
}

.splitter {
	position : relative;
	z-index: @splitter-layer;
	background: #000000;
	opacity: .001;
	transition: opacity 200ms ease;

	&:hover, &.dragging {
		background : #444444;
		opacity : 1;
	}

	&.vertical {
		width : 100%;
		height : 5px;
		.drag-handle {
			width : 100%;
			height : 15px;
			position : absolute;
			top : -5px;
			cursor : ns-resize;
		}
	}

	&.horizontal {
		width : 5px;
		height : 100%;
		.drag-handle {
			width : 15px;
			height : 100%;
			position : absolute;
			left  : -5px;
			cursor : ew-resize;
		}
	}
}

.detached {

	.layout-controls:not(& .layout-controls) {
		display : none;
	}

	&.detachable-panel {
		position: fixed;
		bottom : 20px;
		left: 20%;
		right: 620px;
		z-index: @popup-layer;

		.splitter {
			z-index : @popup-layer + 10;
			position : absolute;

			&.handle-right {
				right : -5px;
			}
			&.handle-left {
				left : -5px;
			}
			&.handle-top {
				height : 15px;
				top : -15px;

				.drag-handle {
					cursor : move;
					top : 0px;
				}
			}
			&.handle-bottom {
				bottom : -5px;
			}
		}
	}
}

.custom-editor {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #222222;
    border: 1px solid #444;
	padding: 10px;
	h1,h2,h3 {
		margin-top: 0;
	}
}

.hide-scenetree {
	flex: 1;
	background-color : #111;
	border : 1px solid #444;
	min-width: 300px;
	max-width: 1000px;
	overflow-y: auto;
	min-height : 350px;

	.jstree {
		min-width: 300px;
		overflow-x: hidden;
	}

	.jstree-container-ul {
		max-width: 300px;
	}
}

@tileselect-cursor-border: 1px;
.hide-tileselect {
	display: inline-block;
	background-color : #111;
	border : 1px solid #666;
	text-align: left;
	overflow: hidden;
	.dim-edit {
		margin-left: 2px;
		margin-right: 2px;
	}
	.flex-scroll {
		height: 600px;
		width: 800px;
		display: flex;
		flex-direction: column;
		.scroll {
			flex-grow: 1;
			overflow : auto;
			.tile {
				background-color: #202;
				position: relative;
				margin-right: @tileselect-cursor-border;
				margin-bottom: @tileselect-cursor-border;
				.valueDisp {
					position: absolute;
					background-color: rgba(0,80,128,0.3);
					border:1px solid rgba(128,128,128,0.5);
					pointer-events:none;
				}
				.cursor {
					position: absolute;
					border : @tileselect-cursor-border solid #fff;
					pointer-events:none;
				}
			}
		}
	}
}

.hide-range {

	display : inline-block;

	input[type=range] {
		display : inline-block;
		width: 140px;
	}

	input[type=range].small {
		width: 123px;
	}

	input[type=text] {
		display : inline-block;
		width: 44px;
		padding-left:2px;
		margin-left:3px;
		border-color: transparent;
	}
	input[type=text]:hover, input[type=text]:active {
		border-color: #444;
	}
}

.heaps-scene {
	flex: 1;
}

.flex {
	width:100%;
	height:100%;
	display:flex;
	//flex-grow : 100;
}

.flex-elt {
	flex: 1;
	display: flex;
}

.flex.vertical {
	flex-direction: column;
}

.scene-partition .hide-toolbar .button {
	min-width : 16px !important;
	height : 16px !important;
	font-size: 12px !important;
}

.scene-partition .show-cols-btn {
	&:extend(.hide-toolbar .button);
	&:extend(.scene-partition .hide-toolbar .button);

	position: absolute;
	margin-top: 2px;
	right: 0px;

	&:hover {
		&:extend(.hide-toolbar .button:hover);
	}

	&:active {
		&:extend(.hide-toolbar .button:active);
	}
}

.hide-toolbar {

	flex: none;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color : rgb(34,34,34);
	display: inline-flex;

	.layout-btn {
		position: absolute;
		right: 26px;
	}

	.close-btn {
		position: absolute;
		right: 0px;
	}

	.v-separator {
		border-left: 1px solid #444;
		margin: 2px;
	}

	.toolbar-label, .menu {
		display: inline-block;
		min-width : 20px;
		padding : 2px;
		text-align: center;
		text-shadow: 1px 2px 2px black;
		>.icon {
			vertical-align: middle;
			margin-bottom: 2px;
		}
	}

	.menu {
		user-select:none;
		cursor : pointer;
		background : #444;
		padding-left: 5px;
		padding-right: 5px;
	}

	.select {
		padding : 2px;
		padding-top: 4px;
		margin-right : 5px;
		display : inline-block;
		.icon {
			font-size: 16px;
			vertical-align: top;
		}
		>select {
			margin-left : 5px;
			min-width : 100px;
		}
	}

	.button, .toggle {
		.button();
		margin-left: 1px;
		margin-right: 1px;
	}
}

.hide-toolbar2 {
	display: flex;
	align-items: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

.tb-group {
	display: inline-flex;
	margin-left: 2px;
	margin-right: 2px;

	&.small > * {
		height: 18px;
		min-width: 18px;

		.icon {
			font-size: 10px;
		}
	}

	&.big > * {
		height: 30px;
		min-width: 30px;

		.icon {
			font-size: 16px;
		}
	}

	&> * {
		display:inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid @color-border;
		border-right-width: 0px;
		height: 26px;
		min-width: 26px;

		background: @color-tool-bg;

		box-shadow: 1px 1px 1px rgba(.0,.0,.0,.75);
		font-size: 12px;

		color: @color-text;

		.icon {
			font-size: 14px;
			&:before {
				text-shadow: 1px 1px 1px rgba(0,0,0,0.45);
			}
		}

		.label {
			font-family : Verdana, serif;
			display: inline-block;
			margin-left: 6px;
			margin-right: 6px;
			user-select: none;
		}


		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-right-width: 1px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&.button2:hover {
			border-color: @color-border-hover;
			background: @color-tool-bg-hover;
		}

		&.button2:active, &.button2[checked], &.menu:active {
			background: @color-highlight-gray;
		}

		&.menu {
			background: @color-menu-bg;
			min-width: 2px;
			&:hover {
				background: @color-menu-bg-highlight;
			}
		}

		&.menu:after {
			font-family: FontAwesome;
			content: "\f107";
			vertical-align: middle;
			margin-left: 2px;
			margin-right: 2px;
		}
	}

}

.button() {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	user-select:none;
	border: 1px solid rgb(90,90,90);
	min-width : 20px;
	min-height : 20px;
	padding : 2px;
	text-align: center;
	border-radius: 1px;
	text-shadow: 1px 2px 2px black;
	background: -webkit-linear-gradient(top, rgb(90,90,90), rgb(50,50,50));
	cursor : pointer;
	font-size: 16px;
	vertical-align: middle;
	&:hover {
		color : white;
		border-color : white;
		background-color : #666;
	}
	label {
		font-size: 12px;
		margin-left: 6px;
		margin-right: 6px;
		text-shadow: none;
	}
	label.locked {
		color: #000;
		font-style: italic;
	}

	&.toggled {
		color : #ddd;
		background : #777;
		padding-top: 2px;
		padding-bottom: 1px;
		text-shadow: none;
		border-top-width: 2px;
		border-top-color: #444;
		&:hover {
			border-top-width: 1px;
			padding-top: 3px;
			border-top-color : white;
		}
	}
}

.hide-button, .hide-toggle {
	.button();
}

.link-container {
	margin-top: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.link {
		flex: 1 0;
		align-self: center;
		width: 33%;
		margin-right: 33%;
		height: 100%;
		border-right: solid 1px gray;
	}

	.link-up {
		margin-top: 4px;
		margin-bottom: 2px;
		border-top: solid 1px gray;
	}

	.link-down {
		margin-top: 2px;
		margin-bottom: 4px;
		border-bottom: solid 1px gray;
	}

	.hide-button {
		min-width: 12px;
		min-height: 12px;
		width: 12px;
		height: 12px;
		font-size: 9px;
	}
}

.hide-button.change-button {
	font-size: 12px;
	min-height: 13px;
	min-width: 13px;
	height: 13px;
	width: 13px;
}

.button:active {
	padding-top: 3px;
	padding-bottom: 1px;
}

.hide-list {
	width : 100%;
	min-height : 200px;
	background-color : #111;
	border : 1px solid #444;
	overflow : auto;
}

.hide-block {
	padding : 5px;
	flex-grow: initial;
}

.hide-tabs {
	flex : 0 0 320px;
	position: relative;
	height: 100%;

	&.masked {
		& > * {
			display : none !important;
		}
		flex : none;
		position: absolute;
		height : 20px;
		width : 20px;
		right : 0px;
		>.maskToggle:before {
			content : "«";
		}
	}

	>.maskToggle {
		&:before {
			content : "»";
		}
		display : block !important;
		position : absolute;
		margin-top : -2px;
		right : 5px;
		color : #aaa;
		font-size: 24px;
		&:hover {
			color : white;
		}
	}

	.tabs-header {
		background-color : #111;
		padding : 2px;
		padding-bottom : 0px;
		&>div {
			cursor : pointer;
			display : inline-block;
			color: #888;
			background-color : #151515;
			padding : 3px 8px;
			border : 1px solid #444;
			margin-left : -1px;
			border-top-right-radius: 5px;
			user-select: none;
			&.active {
				background-color : #444;
				color : #bbb;
				border-bottom-color : #222;
				border-top-right-radius: 0px;
			}
			&.active:hover {
				background-color : #333;
			}
			&:hover {
				background-color : #282828;
			}
			&.hidden {
				display: none;
			}
		}
	}
	.tab {
		max-height: 100%;
		display: flex;
		flex-direction: column;
		position: absolute;
		&.expand {
			width: 100%;
			height: 100%;
		}
	}
}

.hide-tabs.tabs-bottom {
	>.tabs-header {
		width:100%;
		position: absolute;
		bottom : 0px;
		padding-top : 0px;
		padding-bottom : 5px;
		z-index: @header-layer;
		&>div {
			border-top : none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 5px;
			&.active {
				border-radius: 0px;
			}
		}
	}
}


.searchBox {
	display : none;
	width : 300px;
	position : fixed;
	z-index: @popup-layer;
	top : 20px;
	right : 0px;
	background-color : black;
	border : 1px solid #555;
	border-top : none;
	border-right : none;
	border-bottom-left-radius : 5px;
	padding : 5px;
	padding-bottom: 2px;
	.input-col {
		float: left;
		text-align: center;
		input {
			display: block;
			width : 220px;
			background-color : black;
		}
		i {
			margin-top: 2px;
		}
	}
	i {
		cursor : pointer;
		margin-left : 5px;
		display : inline-block;
		font-size : 18px;
		color : #888;
	}
	i:hover {
		color : #EEE;
	}
	i.hidden {
		display: none;
	}
	color : #444;
}

.tree > .searchBox {
	position: sticky;
	float : right;
	top : 0px;
	right : 0px;
	width : 130px;
	input {
		width : 100px;
	}
}

/* Properties */
.props-column {
	height : 100%;
	background-color: #111;
	width: 320px;

	.hide-toolbar {
		width: 100%;
		vertical-align: middle;
	}
}

.hide-properties {
	//flex : 0 0 300px;
	padding:10px;
	overflow:auto;
	padding-bottom:80px;

	>h1.prefab-name {
		text-align: left;
		font-size: 10px;
		margin-bottom: 10px;
	}

	.section {
		margin-bottom : 10px;
		>h1 {
			font-size:12px;
			margin: 0px;
			cursor:pointer;
			user-select:none;
			width:100%;
			padding : 2px;
			padding-bottom: 0px;
			margin-bottom: 2px;
			background-color : #333;
			&:hover {
				background-color : #555;
			}
			&:before {
				content:"\25ba  ";
			}
		}
	}

	.section.open > h1:before {
		content:"\25bc  ";
	}

	dl {
		overflow-x:hidden;
		margin:0px;
	}

	dd, dt {
		vertical-align:middle;
		display:inline-block;
		overflow-x:hidden;
		margin-top:4px;

		span {
			display: inline-block;
			width: 20px;
		}
	}

	dt {
		width:80px;
		text-align:right;
		font-size:11px;
		color:#aaa;
		user-select:none;
		text-transform: capitalize;
		cursor:pointer;
		font-weight: normal;
	}

	.override > dt {
		font-weight: bold;
	}

	.override > dt::before {
		display: inline-block;
		background-color: #fd002f;
		width:5px;
		height:12px;
		content: " ";
		margin-right: 5px;
	}

	input {
		width:190px;
	}

	input.small {
		width:170px;
	}

	input[type=checkbox] {
		width:13px;
	}

	dt {
		input[type=button] {
			width: 100%;
			text-align: right;
			background: none;
			border: none;
			zoom: 1;
			font-size: 11px;
		}
	}

	select {
		width:197px;
	}

	dd {
		position:relative;
		width:200px;
		margin-left:10px;
	}

	.texture-preview {
		pointer-events: none;
		display:inline-block;
		width : 15px;
		height: 15px;
		position : absolute;
		margin-left : -17px;
		margin-top : 2px;
	}

	dl dl {
		dt {
			width : 50px;
		}
		dd {
			width : 140px;
		}
		input[type=range] {
			width : 90px;
		}
		.hide-range input[type=text] {
			width : 30px;
		}
	}

	.group {
		>.title {
			text-align : center;
			background-color : #151515;
			cursor:pointer;
			user-select:none;
			padding : 1px;
			position: relative;
			input[type=button] {
				border: none;
				position : absolute;
				top : 0px;
				right : 0px;
				width : auto;
				padding : 1px 5px;
				background-color: rgb(40,40,40);
				&:hover {
					background-color: rgb(70,70,70);
				}
			}
			>.checkbox-wrapper {
				position: absolute;
				left: 5px;
			}
		}
		>.content {
			margin-bottom : 5px;
		}
		margin-bottom : 5px;
	}

	.btn-list {
		* {
			margin-bottom: 5px;
		}
	}

	.error {
		color: red;
	}

	.vector {
		flex-direction: row;
	}

	.btn-cdb-large {
		width : 16px;
		font-size : 14px;
		margin : 3px;
		opacity : 0.5;
	}

	.cdb-large {
		.cdb-obj-editor {
			max-height: 800px;
			overflow: auto;
			padding: 2px;
			background: #111;
			overflow-y: auto;
		}
		.btn-cdb-large {
			opacity: 1;
		}
	}
}
/* Image Viewer */
@imgPanelWidht : 320px;
.image-properties {
	height : 100%;
	background-color: #111;
	width: @imgPanelWidht;

	.title {
		text-align: center;
		font-size: 12px;
		margin: 4px;
		background-color : rgb(30,30,30);
	}

	.preview-btns {
		display:flex;
		flex-direction: row;

		input[type="button"] {
			flex: 1;
			margin: 5px 5px 5px 5px;
		}
	}

	.reset-compression {
		outline: 2px solid #fd5151;
		width: 95%;
		margin-left: 2.5%;
	}

	.compression-infos {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;

		p {
			margin: 0px 0px 0px 5px;
			font-weight: bold;
			text-align: center;
		}
	}

	.field {
		margin: 5px 5px 0px 50px;
		display: flex;
    	flex-direction: row;

		&.alpha {
			margin: 5px 5px 5px 80px;

			label {
				flex: 1;
				flex-shrink: 0;
				white-space: nowrap;
			}

			input[type="checkbox"]{
				margin-right: 5px;
			}

			input[type="number"]{
				flex: 1;

				&:disabled {
					pointer-events: none;
					background-color: #111111;
					color: #757575;
				}
			}
		}

		label {
			margin-right: 4px;
		}

		.size {
			width: 50px;
			margin-right: 5px;
		}

		select, input[type="text"] {
			flex-grow: 1;
		}
	}
}

.identifiers {
	position: absolute;
	left: 0;
	right: @imgPanelWidht;
	bottom: 50px;

	label {
		position: absolute;
		color: white;
		font-weight: bold;
		font-size: 30px;
	}

	:nth-child(1) {
		left: 20px;
	}

	:nth-child(2) {
		right:20px;
	}
}

/* Curve editor */
@timelineHeight: 20px;
.hide-curve-editor {
	position: relative;
	background-color: #303030;

	.timeline {
		background: #161616;
		fill: #161616;
		position: relative;
		height: @timelineHeight;
		overflow: hidden;

		.tlgroup .mark {
			height: 100%;
			color: #8e8e8e;
			border-left: 1px solid #8e8e8e;
			vertical-align: middle;
			padding-left: 4px;
			position: absolute;
			line-height: @timelineHeight;
			user-select: none;
		}
	}

	.overlaygroup {
		pointer-events: none;
	}

	text {
		font: 10px sans-serif; fill: #8d8d8d;
	}

	&:focus {
		//background-color: rgba(0, 0, 0, 0.219);
		outline: none;
	}
	.keyPopup {
		padding: 4px;
		padding-bottom: 2px;
		background-color: #151515;
		position: absolute;
		.line {
			margin-bottom: 2px;
		}
		label {
			width: 60px;
			display: inline-block;
		}
		input { width: 80px; }
	}
	svg {
		@selectCol: rgb(255, 255, 255);
		@previewCol: rgb(192, 111, 6);
		@lineCol: rgb(255, 31, 31);
		border-right: 1px solid black;

		line {
			stroke-width: 1px;
		}

		rect {
			shape-rendering: crispEdges;
		}

		.grid {
			line {
				shape-rendering: crispEdges;
			}
			.hgrid line { stroke: #181818; }
			.hgrid .interline { stroke: #1e1e1e; opacity: 0.2; }
			.vgrid line { stroke: #181818; }
			.vgrid .interline { stroke: #1e1e1e; opacity: 0.2; }
			line.axis {
				stroke: rgb(116, 116, 116);
				shape-rendering: crispEdges;
			}
			text {
				font: 10px sans-serif; fill: #8d8d8d;
			}
		}

		.graph {

			.selection rect {
				fill: @selectCol;
				fill-opacity: 0.1;
				stroke: rgb(255, 255, 255);
				opacity: 0.3;
				mix-blend-mode: screen;
				cursor:move;
			}

			.curve line, path {
				stroke: @lineCol;
				stroke-width: 1px;
				fill: none;
			}

			.vectors {
				line {
					stroke: rgba(207, 207, 207, 0.603);
				}

				line.selected {
					stroke: @selectCol;
				}
			}

			.handles {
				circle, rect {
					fill: rgba(187, 187, 187, 0.644);
					cursor: pointer;
				}
				circle:hover:not(.no-hover), rect:hover {
					fill: #fff;
					stroke: #fff;
					stroke-width: 2px;
				}
				circle.selected, circle:hover.selected, rect.selected, rect:hover.selected {
					fill: @selectCol;
				}
				rect.preview {
					fill: @previewCol;
				}
			}
		}

		.selection-overlay rect {
			mix-blend-mode: multiply;
			fill: #888;
			fill-opacity: 20px;
			stroke: #000;
			opacity: 50%;
		}
	}
}

/* FX Editor */

.fx-script {
	height: 500px;
	width : 500px;
}

.fx-scriptParams {
	margin : 10px;

	.slider {
		margin : 10px;
	}

	.checkbox {
		margin : 10px;
	}

	input[type=checkbox] {
		display: inline-block;
   		float: none;
	}
}

.fx-animpanel {
	@leftPanelWidth: 200px;
	min-height: 120px;
	max-height: 800px;
	position: relative;
	display: flex;
    flex-direction: row;

	.help-button
	{
		position: absolute;
		left: 5px;
		bottom: 5px;
		border-color: #3d3d3d;
		background: #545454;
		border-right-width: 1px;
		border-radius: 4px;
		box-shadow: 1px 1px 1px rgba(.0,.0,.0,.75);
		padding: 5px 8px 5px 8px;
	}

	.left-fx-animpanel
	{
		margin-top: @timelineHeight;
		min-width: @leftPanelWidth;
		max-width: 700px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.right-fx-animpanel
	{
		overflow: hidden;
		height:100%;
		flex: 1;

		.overview {
			background: #161616;
			fill: #303030;
			position: relative;

			.overview-selection {
				fill: #17ffeb12;
				stroke: #000000;
				stroke-width: 1px;
				pointer-events: all;
				cursor: move;
			}
		}
	}

	.events {
		.event {
			stroke:#000;
			stroke-width: 1px;;
			cursor: pointer;
			user-select: none;
			fill: #202;
			overflow-x: hidden;
			padding-top: 3px;
		}

		.event.subFX {
			fill: #1b3673;
		}

		.event:hover {
			stroke: white;
		}

		text {
			pointer-events: none;
		}
	}

	.key-event {
		fill: rgba(187, 187, 187, 0.644);
		stroke: #000000;
		stroke-width: 1px;
		cursor: pointer;
	}

	.key-event:hover {
		fill: #ffd967;
	}
	.key-event.selected, .key-event:hover.selected {
		fill: #ffbe33;
	}

	text {
		font: 10px sans-serif; fill: #8d8d8d;
	}

	.overlay-container {
		top: 0;
		position: absolute;
		height: 100%;
		pointer-events: none;
		left: @leftPanelWidth;
		right: 0px;
		.overlay {
			position: absolute;
			top: 0px;
			width: 100%;
			height: 100%;
			overflow: hidden;
			.time-marker {
				position: absolute;
				height: 100%;
				width: 1px;
				background: green;
			}
			.marker {
				position: absolute;
				height: 100%;
				width: 1px;
				background: #907a00;
			}
			.selection {
				position: absolute;
				height: 100%;
				background: #17ffeb12;
				mix-blend-mode: hard-light;
				pointer-events: all;
				cursor: move;
			}
			.selection-left, .selection-right {
				cursor: ew-resize;
				pointer-events: all;
				width: 4px;
				background: #00000036;
				position: absolute;
				height: 100%;
			}
			.selection-left {
				border-right: 1px dashed black;
			}
			.selection-right {
				border-left: 1px dashed black;
			}
			.preview {
				position: absolute;
				height: @timelineHeight;
				background: rgba(255, 255, 255, 0.1);
				opacity: 0.9;
				mix-blend-mode: screen;
				border-left: 1px black;
				border-right: 1px black;
			}
			.preview-left {
				background: rgba(0, 0, 0, 0.3);
				border-right:1px dashed rgb(121, 121, 121);
				position: absolute;
				height: 100%;
			}
			.preview-right {
				background: rgba(0, 0, 0, 0.3);
				border-left:1px dashed rgb(121, 121, 121);
				position: absolute;
				height: 100%;
			}
		}
	}

	.tracks-header {
		position: relative;
		background: #4a4a4a;
		text-align: left;
		white-space: nowrap;

		.name {
			padding: 1px;
			padding-left: 5px;
			padding-right: 5px;
		}
		.abspath {
			position: relative;
			opacity: 0.5;
		}

		:first-child.track-button {
			padding-left: 10px;
		}

		:nth-last-child(1).track-button {
			position:absolute;
			right:5px;
			top:2px;
		}

		:nth-last-child(2).track-button {
			position:absolute;
			right:25px;
			top:2px;
		}

		.track-button {
			padding-left: 2px;

			&:hover {
				color: white;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.track-header {
		position: relative;
		background: #1b1b1b;
		text-align: left;

		&.hidden {
			display: none;
		}

		.name {
			padding: 1px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.abspath {
			position: absolute;
			opacity: 0.5;
			left: 200px;
		}

		:first-child.track-button {
			padding-left: 10px;
		}

		:nth-last-child(1).track-button {
			position:absolute;
			right:5px;
			top:2px;
		}

		:nth-last-child(2).track-button {
			position:absolute;
			right:25px;
			top:2px;
		}

		.track-button {
			padding-left: 2px;

			&:hover {
				color: white;
			}

			&.visibility {
				padding-left:17px;
			}

			&.color-id {
				padding: 0 0 0 0;
				position: absolute;
				left:2px;
				top:2px;
				bottom: 2px;
				width:7px;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.track {
		min-height: 20px;
		display: flex;
		user-select: none;

		.track-prop {
			cursor: pointer;
			text-align: right;
			width: @leftPanelWidth;
			height: 100%;

			label {
				vertical-align: middle;
				padding-right: 4px;
			}

			.track-toggle {
				width: 16px;
				height: 16px;
				display: inline-block;
				text-align: center;
			}
			&:hover {
				background: rgba(0, 0, 0, 0.438);
			}
		}

		&.hidden {
			display: none;
		}

		.curve {
			margin-left: @leftPanelWidth;
			position: relative;
			box-shadow: 0px -1px 0px black inset;
		}
		.curves.hidden {
			display: none;
		}
	}
}

/* Poly editor */
.poly-editor{
	.editModeButton{
		margin: 10px;
		outline: 4px solid #fd5151;
	}
	.editModeEnabled {
		outline: 4px solid #5897fb;
	}
	.description{
		margin: 5px;
		background-color:#303030;
		outline: 4px solid #4a4a4a;
		padding : 2px;
	}
	.point-list {
		input {
			width: 70px;
		}
		.deletePoint {
			width: 20px;
			margin-left: 8px;
		}
	}
	.poly-vector2{
		display: block;
		padding : 5px;
	}

	input[type=button] {
		margin-top: 5px;
	}
}

// Array of string
.string-array {
	.array-element {
		display: block;
		padding: 5px;
	}
	.string-field {
		width: 120px;
	}
	.delete-button {
		width: 20px;
		margin-left: 8px;
	}
}

// Default Edit Button
.editModeButton{
	margin: 10px;
	outline: 4px solid #fd5151;
}
.editModeEnabled {
	outline: 4px solid #5897fb;
}

// Spline editor
.spline-editor{
	.editModeButton{
		margin: 10px;
		outline: 4px solid #fd5151;
	}
	.editModeEnabled {
		outline: 4px solid #5897fb;
	}
	.description{
		margin: 5px;
		background-color: #303030;
		outline: 4px solid #4a4a4a;
		padding : 2px;
	}
}

/* Mesh Generator */
.meshGenerator-thumbnail {
	display: inline-block;
	margin: 5px;
	@size: 75px;
	width: @size;
	height: @size;
	background-size: @size @size;
	outline: 2px solid #4a4a4a;
	background-size: contain;
}

/* Terrain editor */
.terrain-brushModeDescription{
	margin: 5px;
	background-color: black;
	outline: 4px solid #4a4a4a;
	padding : 2px;
}

.terrain-brushModeContainer{
	padding : 1px;
}

.terrain-brushMode{
	padding : 5px;
	display: inline-block;
	.selected {
		outline: 4px solid #5897fb;
	}
}

.terrain-brushModeIcon {
	@size: 40px;
	width: @size;
	height: @size;
	background-size: @size @size;
	background-color: #AAAAAA;
	outline: 4px solid #4a4a4a;
	background-size: contain;
}

.terrain-brushes {
	.brush {
		display: inline-block;
		padding : 6px;
		position: relative;
	}
	.brush-preview {
		@size: 40px;
		background-size: @size @size;
		width: @size;
		height: @size;
		outline: 4px solid #4a4a4a;
	}
	.brush-preview-selected {
		@size: 45px;
		background-size: @size @size;
		width: @size;
		height: @size;
		outline: 4px solid #5897fb;
	}
	.tooltiptext {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: left;
		border-radius: 6px;
		position: absolute;
		z-index: @tooltip-layer;
		padding: 4px;
		width: 90px;
	}
	.brush:hover .tooltiptext {
		visibility: visible;
	}
}

.terrain-surfaces {
	.surface {
		display: inline-block;
		padding : 6px;
		position: relative;
	}
	.surface-preview {
		@size: 85px;
		background-size: @size @size;
		width: @size;
		height: @size;
		outline: 4px solid #4a4a4a;
	}
	.surface-preview-selected {
		@size: 85px;
		background-size: @size @size;
		width: @size;
		height: @size;
		outline: 4px solid #5897fb;
	}
	.tooltiptext {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: left;
		border-radius: 6px;
		position: absolute;
		z-index: @tooltip-layer;
		padding: 4px;
	}
	.surface:hover .tooltiptext {
		visibility: visible;
	}
}

/* Shader Editor */
.graph-view {
	outline: none !important;

	.mini-preview {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 0;
	}

	#graph-root {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 0;
	}

	.tabs {
		width: 280px;
		padding-top: 10px;
		border-left: 1px solid #444444;
		z-index: @default-layer + 5;
    	background: #222222;
		height: 100%;
		user-select: none;

		span { // title
			margin-left: 5px;
			font-size: 15px;
			font-weight: bold;
		}



		.tab {
			height: 100%;
			@options-height: max(250px, 25%);
			.hide-block {
				height: 600px;

				#parametersList {
					height: 100%;

					.parameter {
						border: 1px solid;
						margin: 5px;
						background-color: #222;
						position: relative;

						&.hovertop:before, &.hoverbot:after {
							display: block;
							position: absolute;
							z-index: 100;
							margin: 0 auto;
							width: 100%;
							content: "";
						}

						&:before {
							border-top: 5px solid red;
							top: -10px;
						}

						&:after {
							border-bottom: 5px solid red;
							bottom: -10px;
						}


						.header {
							background-color: #d6d6d6;
							height: 20px;
							padding: 5px;
							color: black;
							cursor: pointer;

							.title {
								float: left;
								input {
									width: 130px;
								}
							}

							.type {
								float: right;

								span {
									color: black;
									font-style: italic;
									font-size: 13px;
									padding-right: 5px;
								}
							}
						}

						.content {
							padding: 4px;

							>div {
								margin-top: 2px;
							}
						}

						/*.content {
							background-color: #b3b3b3;
							padding: 5px;
							box-shadow: inset 0px 13px 6px -15px black;

							div {
								width: 100%;
								height: 20px;

								span {
									float: left;
									color: black;
									font-size: 13px;
									padding-right: 5px;
									font-weight: normal;
								}
							}
							.texture-preview {
								background-repeat: no-repeat;
								background-size: 20px 20px!important;
								border: 2px #444444 solid;
								width: 20px;
							}
							.action-btns {
								input {
									float: right;
								}
							}
						}*/

						& > span {
							font-size: 12px;
						}
					}
				}
			}
			.options-block {
				height: @options-height;
				& > * {
					display: block;
					margin-bottom: 10px;
					width: 100%;
					text-align: center;
					box-sizing: border-box;
				}

				& > div {
					border: 1px solid #666;
					padding: 2px;
				}
			}
		}
	}
	#add-menu {
		position: absolute;
		width: 400px;
		box-shadow: 0px 0px 25px -4px black;

		background-color: rgb(34, 34, 34);
		border: 1px solid #444;
		z-index: @default-layer + 10;

		.search-container {
			display: flex;

			.icon {
				width: 16px;
				font-size: 15px;
				text-align: center;
				padding: 7px;
				border: solid #444;
				background: #2d2d2d;
				border-width: 0 1px 1px 0;
			}

			.search-bar {
				flex: 1;
				margin: -1px 11px 0px -1px;

				input {
					width: 100%;
					height: 30px;
					padding-left: 10px;
					outline: none;

					&:focus {
						border: 1px solid #888888;
					}
				}
			}
		}
		#results {
			max-height: 300px;

    		overflow-y: auto;
			div {
				padding: 5px;
				border-top: 1px solid #444444;
				cursor: pointer;
				color: #d4d4d4;

				& {
					position: relative;
				}

				&.group {
					background: #474747;
					color: #c0c0c0;
					cursor: default;
					z-index: @default-layer + 5;
    				box-shadow: 0px 0px 34px -9px black;

					&:hover {
						background: #474747!important;
						color: #dadada!important;
						box-shadow: none;
					}
				}

				& > span:first-child {
					font-weight: bold;
					padding-left: 10px;
				}
				& > span:last-child {
					font-style: oblique;
					padding-left: 7px;
				}
				&:first-child {
					border-top: 0;
				}
				&:hover, &.selected {
					background: #5eb7bf;
					color: #000000;
					box-shadow: inset 0px 0px 12px -1px black;
					z-index: @default-layer + 15;
				}
			}
		}

	}
	#context-menu {
		position: absolute;
		width: 150px;
		box-shadow: 0px 0px 25px -4px black;

		background-color: rgb(34, 34, 34);
		border: 1px solid #444;

		z-index: @default-layer + 10;

		#options {
			max-height: 300px;

    		overflow-y: auto;
			div {
				padding: 5px;
				border-top: 1px solid #444444;
				cursor: pointer;
				color: #d4d4d4;

				& {
					position: relative;
				}

				&.group {
					background: #474747;
					color: #c0c0c0;
					cursor: default;
					z-index: @default-layer + 15;
    				box-shadow: 0px 0px 34px -9px black;

					&:hover {
						background: #474747!important;
						color: #dadada!important;
						box-shadow: none;
					}
				}

				& > span:first-child {
					font-weight: bold;
					padding-left: 10px;
				}
				& > span:last-child {
					font-style: oblique;
					padding-left: 7px;
				}
				&:first-child {
					border-top: 0;
				}
				&:hover, &.selected {
					background: #5eb7bf;
					color: #000000;
					box-shadow: inset 0px 0px 12px -1px black!important;
					z-index: @default-layer + 15;
				}
				&.grey-item {
					background: #adadad;
					color: #000000;
					font-weight: bold;
					box-shadow: inset 0px 0px 5px -1px black;
				}
			}
		}

	}
	.heaps-scene {
		outline: none !important;
		#preview {
			z-index: 3;
			position: absolute;

			width: 300px;
			height: 300px;

			background-color: #111;
   			border: 1px solid #444;

			right: 290px;
			bottom: 35px;
		}
		#status-bar {
			z-index: 2;
			position: absolute;

			width: 84%;
			min-height: 20px;

			background-color: #111;
			border: 1px solid #444;

			left: -1px;
			bottom: -1px;
			max-height: 60%;
			overflow: auto;

			pre {
				padding: 10px;
				vertical-align: sub;

				&.error {
					color: #c74848;
				}
			}

			#close {
				width: 100%;
				text-align: center;
				cursor: pointer;
			}
		}
		svg {

			g {
				stroke: #202020;

				&.selected {
					.outline {
						stroke: #668fff;
					}
				}
				&.error {
					.outline {
						stroke: #ff6666;
					}
				}
			}
			.outline {
				fill: none;
			}

			.head-box {
				fill: #155358;
			}

			.title-box {
				fill: #ffffff;
				stroke: none;
				user-select: none;
				&::selection {
					background: none;
				}
			}

			.nodes, .properties {
				fill: #737373;
				opacity: 0.75;
			}

			.hasLink {
				.input-field {
					display: none;
				}
			}

			.close-preview {
				text-align: center;
				cursor: pointer;
				color: #999;

				&:hover {
					//background-color: rgba(.0,.0,.0,.25);
					color: #FFF;
				}
			}

			.input-node, .output-node {
				fill: rgb(200, 200, 200);
				stroke-width: 13px;
				stroke-opacity: 0;

				&.nodeMatch {
					fill: #5ca4ab;
				}
			}

			.title-node {
				fill: #ffffff;
				stroke: none;
				user-select: none;
				&::selection {
					background: none;
				}
			}

			.properties-group {
				span {
					color: #ffffff;
					user-select: none;
					&::selection {
						background: none;
					}
				}
				input[type=text], select {
					width: 100%;
				}
				input[type=text].error {
					border: red 1px solid;
				}

				.texture-preview {
					background-size: 50px 50px;
					height: 50px;
					width: 50px;
					margin: auto;
					margin-bottom: 5px;
				}

				.color-preview {
					background-size: 25px 25px;
					height: 25px;
					width: 25px;
					margin: auto;
					margin-bottom: 5px;
				}

				.float-preview {
					background: #222222;
					font-weight: bold;
					width: fit-content;
					padding: 2px 3px;
					margin: auto;
					margin-bottom: 3px;
					user-select: none;
				}

				.preview-parent {
					position: absolute;
					height: 100px;
					width: 100px;
				}

				.propertySubShader {
					span {
						float: left;
						margin-right: 10px;
					}
				}

				.custom-var {
					display: table;
					width: 100%;
					div.custom-var-row {
						display: table-row;
						label, span {
							display: table-cell;
						}
					}
				}
			}

			.edge {
				stroke-width: 2;
				stroke: rgb(200, 200, 200);
				fill: transparent;
			}

			.edge:not(.draft):hover, .edge:not(.draft).selected {
				stroke-width: 5;
				stroke: rgb(114, 180, 255);
			}

			.rect-selection {
				stroke: rgba(0, 0, 255, 0.7);
				fill: rgba(70, 70, 116, 0.08);
			}

			.node-id-indicator {
				fill: #ffffff;
				stroke: none;
				font-size: 8px;
			}
		}
	}
	.paramVisible {
		color: black!important;
		font-weight: bold;
		font-style: italic;
		letter-spacing: -.5px;
		text-align: center;
		user-select: none;
	}
}

/* Golden Layout Fixes */

.lm_header .lm_tabs {
	z-index : @default-layer;
}

.lm_dropTargetIndicator {
	box-shadow : none;
}
span.lm_title { display: inline-block; padding: 0px 10px; }
li.lm_tab { padding-left: 0px !important; padding-right: 15px !important; }
div.lm_close_tab { top : 0px !important; right : 0px !important; width : 15px !important; height : 18px !important; }
div.lm_close_tab:hover { background-color : #555 !important; }

body.hide-subview {
	.lm_header .lm_tab {
		padding-right: 10px;
	}
	.lm_close_tab, .lm_controls {
		display : none;
	}
}

/* JSTree fixes */

.jstree {
	background:transparent !important;
	padding-bottom: 40px;
	outline: none;
	position: relative;

	.filtered {
		display: none;
	}

	.editorOnly {
		color: rgb(2, 174, 218) !important;

		i, a {
			color: rgb(2, 174, 218);
		}
	}

	.inGameOnly {
		color: rgb(218, 168, 2) !important;

		i, a {
			color: rgb(218, 168, 2);
		}
	}

	.hidden {
		color: #555 !important;

		i, a {
			color: #555;
		}
	}

	.disabled {
		a {
			color: #533 !important;
			display: inline;
		}
		i {
			color: #533;
		}
	}

	.inRef {
		background: rgb(68, 68, 68) !important;
	}

	a.locked {
		color: #666 !important;
		font-style: italic;
	}
	a.locked::after {
		content: " (locked)";
	}
}

.jstree-icon.jstree-ocl {
	opacity: 0.7;
	width:18px !important;
	top:-1px;
}

.jstree-icon {
	i {
		color : #aaa;
	}
}

.jstree-node {
	padding-right: 10px!important;
}

.visibility-toggle, .visibility-large-toggle {
	position: absolute;
	right: 4px;
	padding: 4px;

	&:hover {
		color : white;
		background: black;
	}
}
.hidden {
	.visibility-toggle, .visibility-large-toggle {
		background: #0000008a;
		i {
			color: #555;
		}
	}
}

.visibility-large-toggle {
	font-size: 14px!important;
}

.lock-toggle, .lock-large-toggle {
	position: absolute;
	right: 24px;
	padding: 4px;
}
.locked {
	.lock-toggle, .lock-large-toggle {
		i {
			color: #555;
		}
	}
}

.lock-large-toggle {
	font-size: 14px!important;
}

.jstree.small {
	@size: 18px;

	a {
		font-size: 12px;
	}

	.jstree-node {
		min-height: @size;
		line-height: @size;
		margin-left: 12px;
		min-width: @size;
	}
	.jstree-anchor {
		line-height: @size;
		height: @size;
	}
	.jstree-icon {
		width: @size;
		height: @size;
		line-height: @size;
	}
	.jstree-icon:empty {
		width: @size;
		height: @size;
		line-height: @size;
	}
	.jstree-wholerow {
		height: @size;
	}
}

/* Spectrum Color picker */

div.sp-replacer {
	vertical-align:top;
	background-color : #444;
	border : 1px solid #666;
	height : 16px;
	margin-right:5px;
	.sp-preview {
		width: 14px;
		height: 14px;
	}
	.sp-dd {
		padding-top:0px;
	}
	&:hover {
		border-color : white;
	}
	&.sp-active {
		border-color: #888;
	}
}

div.sp-container {
	background-color : #444;
	border : 1px solid #666;
	.sp-picker-container {
		border:none;
		width: 300px;
	}
	.sp-color {
		right: 8%;
	}
	.sp-hue {
		left: 95%;
	}
	input {
		color: #aaa;
		background-color : rgb(34,34,34);
		border-radius:0px;
		&:hover {
			border-color:white;
		}
	}
}

/* Animation Event Editor */
.event-editor {
	.title {
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		margin: 4px;
		background-color : rgb(30,30,30);
	}
	.event {
		.label {
			text-align: center;
			display: inline-block;
			width: 50%;
		}
	}
}

/* Script Editor */

.codeeditor {
	.codeErrorLine {
		background: #400;
	}
	.codeErrorContentLine {
		background : rgba(255,0,0,0.1);
	}
	.codeErrorContent {
		text-decoration: underline dashed red;
	}
	.codeErrorMessage {
		background : rgba(80, 5, 5, 1);
		color : red;
		position: absolute;
		margin-top : -20px;
		padding: 2px;
		right : 13px;
		border: 1px solid #A00;
	}
}

.script-editor {
	.codeeditor {
		height: 100%;
	}
	div.codeErrorMessage {
		right : 12px;
		bottom : 0px;
		padding : 5px;
	}
}

/* Domkit */

.domkit {
	width:100%;
	height:100%;
	display:flex;
	>* {
		flex-grow : 100;
	}
	.leftpanel {
		width:600px;
		resize:horizontal;
		border-right:1px solid #333;
		overflow:hidden;
		.html {
			.codeeditor {
				padding: 5px;
				height: 400px;
			}
		}
		.cssErrors {
			background : #840;
			border : 1px solid #F80;
			color : #F80;
			padding : 10px;
			position: absolute;
			z-index: @domkit-layer;
			left : 10px;
			bottom : 10px;
		}
	}
}


/* Level 3D */
.overlay-info {
	background: #000000e0;
	position: absolute;
	z-index: @default-layer;
	left : 0px;
	bottom : 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	max-height: 800px;
    min-width: 600px;
}

.context-menu-item {
	.contextmenu-keys {
		float: right;
		font-size: 8pt;
		color: #8d8d8d;
		&:before {
			content: '\a0'; // '&nbsp;'
		}
	}
	&.context-menu-disabled {
		.contextmenu-keys {
			color: #c9c9c9;
		}
	}

	.tag-disp-expand {
		display: flex;
		.tag-disp {
			color: white;
			flex-grow: 1;
			padding: 2px;
		}
	}

	&.context-menu-input {
		input[type=checkbox] {
			top: auto !important;
			&:after {
				// background-color: rgb(165, 165, 165);
				background-color: white;
				color: black;
				box-shadow: none;
				border: 1px solid black;
				border-radius: 2px;
			}
		}
	}
}

.checkerboard-bg {
	background: conic-gradient(#EEE 90deg,#DDD 90deg 180deg,#EEE 180deg 270deg, #DDD 270deg);
	background-size: 16px 16px;
	background-repeat: repeat;
}

div.color-box {
	display: inline-flex;
	cursor: pointer;
}

div.popup {
	background-color : #181818;
	border : 1px solid #242424;
	border-radius: 5px;

	color: #d8d8d8;

	position: absolute;
	overflow: visible;
	z-index: 900;

	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

	&:focus {
		outline: none;
	}

	padding: 6px;
}

.settings-popup {
	padding: 8px;

	p {
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
	}

	select {
		width: auto;
		width: fit-content;
    	margin-left: 2px;
	}

	.form-grid {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;

		input[type="radio"] {
			padding-bottom: 4px;
		}

		grid-row-gap: 2px;
	}

	label {
		text-align: right;
		padding-right: 8px;
	}

	label.left {
		text-align: left;
		padding-left: 8px;
	}

	.hide-grid {
		visibility: hidden;
		height: 0px;
	}

	input[type=checkbox] {
		appearance: none;
		margin: 0;
		background: #545454;
		font: inherit;
		width: 14px;
		height: 14px;
		border: 1px solid #3d3d3d;
		border-radius: 3px;
		transform: translateY(-0.075em);
		padding: 0;
		/*box-shadow: 0px 1px #181818;*/
	  }

	  input[type=checkbox]:checked{
		background: #4772b3;
	  }

	  input[type=checkbox]:checked:after {
		content: '\2714';
		position: absolute;
		text-align: center;
		vertical-align: middle;
		width: 12px;
		height: 11px;
		left: auto;
		top: auto;
		box-shadow: none;
		background: none;
		line-height: 12px;
		font-size: 0.7em;
		color: #f6f8fb;
	  }

	  input[type=checkbox]:after {
		content: none;
	  }
}

div.color-picker {
	padding:0;

	.vbox {
		display: flex;
		flex-direction: column;
	}

	.slider-value {
		display: flex;

		input {
			font-size: 10px;
		}

		label {
			align-self: center;
		}
	}

	hr {
		border: 1px solid #444444;
		width: 100%;
	}

	.slider-container {
		display: flex;
	}

	.slider {
		position: relative;
		display: inline-block;
	}

	.info-bar {
		display: flex;
	}

	.toolbar {
		vertical-align: top;
	}

	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	svg {
		position: absolute;
		width: 100%;
		height: 100;
		pointer-events: none;
	}
}


div.texture-choice {
	display: inline-flex;
	height: 26px;
	align-items: center;
	width: 100%;
}

div.gradient-box {
	display: block;
	align-self: center;
	height: 18px;
	min-width: 150px;

	font-family: Verdana, serif;
    font-size: 9pt;

	border: 1px solid #444;

	cursor: pointer;
}

.gradient-editor {
	background-color : rgb(40, 40, 41);
	border : 1px solid rgb(51, 51, 51);

	.color-box {
		border : 3px solid rgb(51, 51, 51);
	}

	.stop-editor {
		&.disabled {
			opacity: 50%;
		}
	}

	.editor {
		padding: 6px;
		& > div{
			margin-bottom: 4px;
		}
	}

	p {
		margin: 0;
	}

	label {
		margin-right: 5px;
	}
	input {
		width: 75px;
	}

	summary:focus {
		outline: none;
	}
}

.gradient-container {
	height: 100%;
	position: relative;

	svg {
		position: absolute;
		width: 100%;
		height: 100;

		&.lines {
			mix-blend-mode: difference;

			line {
				stroke: white;
				stroke-width: 1px;
			}
		}

		.gradient-stop {

			filter: url(#shadow);

			.outline {
				stroke-width: 0.015;
				stroke: white;
			}

			&:hover{
				.outline {
					stroke-width: 0.025;
				}
			}

			&.selected {
				.outline {
					stroke-width: 0.035;
				}
			}

			&.selected:hover {
				.outline {
					stroke-width: 0.045;
				}
			}

			.fill {
				stroke: black;
				stroke-width: 0.005;
			}

			.checkboard {
				fill: url(#checkboard-bg);
			}
		}
		//pointer-events: none;
	}
}

.gradient-preview {
	width:100%;
	height: 100%;
	position: absolute;
}

.search-bar {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 8px;
	border-radius: 3px;
}

.lesseditor {
	width : 100%;
	height : 100%;
	position : relative;
	.scene {
		width : 1px;
		height : 1px;
	}
	.codeeditor {
		margin-top : 20px;
		height : 100%;
		.codeErrorMessage {
			top : 20px;
			width : 90%;
		}
	}
}

.domkitEditor {
	tr, td {
		padding : 0;
		margin : 0;
		border : 0px;
		border-collapse: collapse;
	}
	table {
		width : 100%;
	}
	.scene {
		width : 1px;
		height : 1px;
	}
	.cssEditor, .dmlEditor, .paramsEditor {
		position: relative;
		width : 50%;
		.codeeditor {
			height : 600px;
			.codeErrorMessage {
				top : 1px;
				width : 90%;
			}
		}
	}
	.separator {
		width : 20;
		background : #111;
	}
}