/bin/nwjs
/bin/*.min.css
/dump
/bin/*.json
/bin/hide.js
*.lnk
/bin/*.map
/bin/shaders
/out.hl
/bin/*.pak
/bin/*.exe
/bin/*.dll
/bin/locales
/bin/swiftshader
/bin/*.bin
/bin/credits.html
/bin/icudtl.dat
*.diff
patch.sh