hui-editor-root text,
hui-editor-root hui-fmt-text {
  font: url("font/inter_14pt_ss02_tnum.fnt");
  text-shadow: 0 1 #000 0.8;
}
hui-editor-root .properties {
  layout: vertical;
  width: 300;
  padding: 2;
  background: #3d3d3d;
}
hui-editor-root .properties hui-category {
  layout: vertical;
  fill-width: 1;
}
hui-editor-root .properties hui-category #header {
  fill-width: 1;
  padding: 2;
  margin-left: 8;
  margin-right: 8;
  background: #111;
}
hui-editor-root .properties hui-category #header > hui-fmt-text {
  halign: middle;
}
hui-editor-root .properties hui-category #content {
  layout: vertical;
  padding-left: 5;
}
hui-editor-root .properties .label {
  padding-left: 2;
  padding-right: 5;
}
hui-editor-root .properties .label > hui-fmt-text {
  halign: right;
  color: #fff;
}
hui-editor-root .properties .line {
  fill-width: true;
  height: 16;
}
hui-editor-root .properties .line .first {
  width: 90;
}
hui-editor-root .properties .line .widget {
  fill-width: true;
  auto-size-width: 1;
}
hui-editor-root .properties hui-slider {
  fill-width: true;
  auto-size-width: 1;
}
