@bg-main-toolbar: #373737;
@bg-main-footer: #373737;
@bg-panel-lvl1: #131313;
@bg-panel-lvl2: #252525;
@bg-panel-lvl3: #2b2b2b;

@bg-popup: #222;


@splitter-color: #333333;

#root {
	layout: stack;
}