hui-view {
	auto-size: 1;
	fill-width: 1;
	fill-height: 1;
	valign: top;
	layout: vertical;
	style-events: false;

	background-type: hui;
	> hui-background {
		background: @bg-panel-lvl1;
	}

	> hui-element {
		auto-size: 1;
		fill-height: 1;
	}
	> hui-toolbar {
		auto-size: none;
		fill-height: 0;
	}

	&.has-error {
		> * {
			visible: false;
		}

		> hui-error-display {
			visible: true;
			auto-size: none;
			fill-height: 0;
		}
	}

	> hui-suppressed-errors-warning {
		auto-size: none;

		fill-width: true;
		fill-height: 0;

		spacing: 4;
		padding: 4;

		hui-text {
			color: @color-gray-0;
			valign: middle;
			halign: middle;
			text-shadow: 0 1 #FFF 0.5;
		}

		> hui-button {
			padding-top: 4;
			padding-bottom: 4;
		}

		> hui-background {
			background: @color-red;
		}
	}
}