hui-model-inspector {
	layout: vertical;

	hui-category {
		padding-bottom: 5;
	}

	.label {
		text-align: right;
		margin-right: 5;
		margin-top: 5;
		auto-size: 1;
		color: darken(@text-color, 20%);
		valign: middle;
	}

	.value {
		auto-size: 2;
	}

	.full {
		margin-top: 5;
		auto-size: 1;
		fill-width: true;
	}
}