hui-button-menu {
	background-type: hui;

	height: 16;
	valign: middle;
	padding: 4;
	padding-left: 8;
	padding-right: 8;

	&:hover, &.open {
		>hui-background {
			background: @color-over;
		}
	}

	&:active {
		>hui-background {
			background: @color-over-lighter;
		}
	}
}