hui-tab-container {
	fill-width: 1;
	fill-height: 1;

	layout: vertical;

	background-type: hui;

	> hui-background {
		background: rgb(75, 75, 255);
	}

	> #tab-bar {
		fill-width: 1;
		height: 16;

		padding-top: 1;
		padding-left: 1;
		padding-right: 1;
		spacing: -1;

		background-type: hui;

		> hui-background {
			background: @tab-bar-bg;
		}
	}

	> #content {
		layout: stack;

		auto-size: 1;
		fill-width: 1;
		fill-height: 1;

		// > hui-element {
		// 	position: absolute;
		// }

		background-type: hui;

		> hui-background {
			background: rgb(60, 66, 0);
		}
	}
}