hui-tab {
	@tab-height: 16;

	height: @tab-height;

	background-type: hui;
	padding-left: 8;

	cursor: button;

	>#title {
		margin-bottom: 3;
		color: @color-foreground-muted;
	}

	>#close-button {
		.button();

		width: 16;
		height: 16;

		background-type: hui;
		background-image: "ui/icons/close.sdf.png" fit;
	}

	background-style: @tab-tab-bg;

	background-border-radius: 4 4 0 0;

	&:hover {
		background-style: lighten(@tab-tab-bg, @light-hover);
	}

	&.active {
		background-style: @tab-tab-active-bg;

		&:hover {
			background-style: lighten(@tab-tab-active-bg, @light-hover);
		}

		>#title {
			color: @color-foreground;
		}
	}

	&.dragged {
		background-style: @tab-tab-dragged-bg !important;
	}

	&.dropTarget {
		background-outline: 2 @color-blue;
		background-outline-color: @color-blue !important;
	}
}