hui-file-browser {
	layout: vertical;

	#gallery {


		#virtual-list {

		}
	}

	hui-split-container {
		auto-size: 1;
	}

	hui-file-browser-gallery-item {
		padding: 4;
		fill-width: 1;
		fill-height: 1;
		auto-size: 1;
		overflow: hidden;

		&.selected {
			>hui-background {
				background: @color-accent;
			}
		}

		&:hover {
			>hui-background {
				background: lighten(@color-accent, @light-hover);
			}
		}

		#border {
			layout: vertical;
			fill-width: 1;
			fill-height: 1;
			auto-size: 1;


		}
		#icon {
			halign: middle;
			valign: top;
		}
		#name-container {
			height: 24;
			auto-size-height: 1;
			overflow: hidden;
			halign: middle;
		}
		#name-text {
			valign: top;
			text-align: multiline-center;
		}
		#gallery-container, #tree-container {
			valign: top;
			fill-width: true;
			fill-height: true;
			layout: vertical;
		}
	}

	hui-toolbar {
		padding: 0;
		min-width: 0;
		min-height: 0;
		hui-button {
			min-height: 16;
			min-width: 16;

			hui-icon {
				min-height: 16;
				min-width: 16;
			}
		}
	}

	.vertical {
		layout: vertical;
	}

	#gallery-container {
		layout: vertical;
	}
}

hui-file-browser-main-toolbar-widget {
	padding: 2;
	auto-size-width: 1;
	fill-width: 1;
	margin-right: 0 !important;
	#slugs {
		margin-left: 4;
		fill-width: 1;
		fill-height: 1;
		auto-size: 1;


		> hui-text {
			valign: middle;
		}
	}
}

hui-file-browser-second-toolbar-widget {
	padding: 2;
	margin-right: 0 !important;
	auto-size: 1;
	fill-width: 1;
	#search-bar {
		fill-width: 1;
		auto-size: 1;

		min-width: 50;

		min-height: 20;
	}
}

hui-file-browser-gallery-widget {
	fill-width: true;
	fill-height: true;
	auto-size: 1;

	&.no-results {
		#gallery {
			visible: false;
		}
		#no-results {
			visible: true;
		}
	}
	&.no-results-search {
		#for-search {
			visible: true;
		}
		#for-empty {
			visible: false;
		}
	}
}

hui-file-browser-no-result-widget {
	visible: false;

	fill-width: true;
	fill-height: true;
	auto-size: 1;

	layout: vertical;

	#for-search {
		visible: false;
	}

	> hui-element {
		layout: vertical;
		fill-width: true;
		fill-height: true;
		auto-size: 1;
		spacing: 8;
		> * {
			halign: middle;
			valign: middle;
		}

		#buttons {
			spacing: 8;
		}
	}
}

hui-file-browser-slug {
	.button();
	fill-height: 1;
	auto-size-height: 1;
	padding: 2;
	margin-top: 2;
	margin-bottom: 2;

	> hui-background {
		border-radius: 2;
	}

	#text {
		valign: middle;
	}
}