hui-text {
	font: url("font/Inter-cv05-cv08-tnum-13pt.fnt");
	color: @text-color;
	text-shadow: 0 1 #000 0.5;
}

.high-dpi hui-text {
	font: url("font/Inter-cv05-cv08-tnum-msdf.fnt") 11 multi 0.5 0.1;
}