
hui-tree {
	min-width: 200;
	min-height: 200;
	fill-width: 1;
	fill-height: 1;
	layout: vertical;
	> #search-bar {
		fill-width: 1;
		auto-size-width: 1;

	}

	background-type: hui;
	> hui-background {
		background: @tree-bg;
	}

	> #wrapper {
		auto-size-height: 1;
		fill-height: 1;
	}
}

hui-tree-line {
	min-height: 16;
	background-type: hui;
	fill-width: 1;
	margin-right: 24;
	> hui-background {
		background: @tree-bg;
	}

	&:hover {
		> hui-background {
			background: @tree-hover;
		}
	}
}