hui-menu {
	layout: vertical;
	padding-top: 4;
	padding-bottom: 4;


	>#searchBar {
		auto-size-width: 1;
		fill-width: 1;
		margin-left: 2;
		margin-right: 2;
	}

	>#itemsContainer {
		width: 175;
		max-height: 500;
		overflow: scroll;

		layout: vertical;

		> .scrollbar {
			halign: right;

			width: 2;

			>.cursor {
				width: 2;
			}
		}

	}

	width: 175;

	max-height: 600;
}

@item-height: 16;
hui-menu-item {
	layout: horizontal;
	min-height: @item-height;
	auto-size-width: 1;
	fill-width: 1;
	content-valign: bottom;
	background-type: hui;

	padding-left: 8;
	padding-right: 4;
	padding-top: 1;
	padding-bottom: 1;

	spacing: 4;

	cursor: button;

	&:hover {
		background-style: @color-over;
	}

	&:active {
		background-style: @color-over-lighter;
	}

	&.keyboard-focused {
		background-outline: 1 @color-over-lighter;
		background-border-radius: 3;
	}

	>#icon {
		min-width: @item-height;
		min-height: @item-height;
		background-type: hui;
		background-image-color: #FFFFFF;
		//background: #FF00FF;
	}

	>#content {
		>hui-text {
			margin-bottom: 4;
			line-break: false;
		}
		auto-size-width: 1;
		overflow: hidden;
	}

	>#keys {

		halign: right;
		>hui-text {
			margin-bottom: 4;
			line-break: false;
			color: #666;
			base-font: regular-small;
		}
	}

	>#end-of-line {
		visible: false;
	}

	&.has-child >#end-of-line {
		visible: true;
		halign: right;
		min-width: @item-height;
		min-height: @item-height;
		background-type: hui;
		background-image: "ui/icons/chevron_right.sdf.png" fit;
		background-image-color: @color-foreground;
	}

	&.separator {
		content-valign: bottom;
		height: 16;
		cursor: default;

		&:hover {
			background-style: rgba(0,0,0,0);
		}

		>#content {
			auto-size-width: 0;
			fill-width: 0;

			// Because auto-size-width doesn't work well
			// in nested flows
			position: absolute;

			> hui-text {
				color: #999;
			}

			padding-right: 4;
			padding-left: 4;

			background-type: hui;
			background-style: @popup-bg;
		}

		>#icon {
			background-type: hui;
			auto-size-width: 1;
			fill-width: 1;
			height: 1;
			background-style: #555;

			margin-bottom: 8;
		}

		>#end-of-line {
			width: 0;
		}
	}
}