hui-shape-editor {
	auto-size: 1;
	fill-width: true;
	layout: vertical;
	padding-left: 5;
	padding-right: 5;
	margin-top: 5;

	#shape-list {
		layout: vertical;
		fill-width: true;
		min-height: 10;
		padding: 5;
		spacing: 3;

		background-type: hui;
		background-style: @color-gray-4;
		background-border-radius: @base-corner-radius;

		.shape-list-entry {
			fill-width: true;
			height: 18;
			background-type: hui;
			background-style: @color-gray-6;
			background-border-radius: @base-corner-radius;

			&.selected {
				background-type: hui;
				background-style: @color-blue;
			}

			padding-left: 5;
			content-valign: middle;
		}
	}

	#buttons {
		hui-button {
			padding: 2 5 2 5;
			background-type: hui;
			background-style: @color-gray-4;
			background-outline: 0 @widget-border;
		}

		#add-btn {
			background-type: hui;
			background-border-radius: 0 0 0 @base-corner-radius;
		}

		#remove-btn {
			background-type: hui;
			background-border-radius: 0 0 @base-corner-radius 0;
		}
	}

	#shape-inspector {
		layout: vertical;

		#edit-btn {
			fill-width: true;
			padding: 1;
			hui-icon {
				halign: middle;
			}

			&.activated {
				background-style: @color-blue;
			}
		}

		.group {
			spacing: 3;
		}
	}
}