hui-file-picker {
	min-height: @widget-base-height;
	min-width: @widget-base-height;
	fill-width: true;
	cursor: button;
	padding: 0 3 0 3;
	//overflow: hidden;

	> #path {
		valign: middle;
		overflow: hidden;
		padding-bottom: 2;
		text-align: left;
		text-line-break: false;
	}

	background-type: hui;
	background-style: @widget-bg;
	background-border-radius: @base-corner-radius;
	background-outline: 1 @widget-border;

	&:hover {
		background-style: @color-over;
	}

	&.unset {
		> hui-text {
			halign: middle;
		}
	}
}