hui-gradient-box {
	min-height: @widget-base-height;
	min-width: 32;
	fill-width: 1;

	.button-border();

	background-outline: 1 @widget-border;
	background-style: @widget-bg;
	background-border-radius: @base-corner-radius;

	>#gradient-display {
		position: absolute;
		smooth: true;
	}
}