hui-tab-container {
	fill-width: 1;
	fill-height: 1;

	layout: vertical;

	background-type: hui;

	> hui-background {
		background: @bg-panel-lvl1;
	}

	> #tab-bar {
		fill-width: 1;
		height: 16;

		padding-top: 1;
		padding-left: 1;
		padding-right: 1;
		padding-bottom: 1;
		spacing: 1;

		background-type: hui;

		> hui-background {
			background: @tab-bar-bg;
		}
	}

	> #content {
		layout: stack;

		auto-size: 1;
		fill-width: 1;
		fill-height: 1;
	}
}