hui-splitter {
	background-type: hui;

	@size:5;

	&.horizontal {
		width: @size;

		>#line {
			fill-height: 1;
			width: 1;
			halign: middle;

			>hui-background {
				background: @splitter-color;
			}
		}
	}

	&.vertical {
		height: @size;
		>#line {
			valign: middle;

			fill-width: 1;
			height: 1;
			>hui-background {
				background: @splitter-color;
			}
		}
	}

	> hui-background {
		//background: @splitter-color;
		border-radius: 2;
	}

	&:hover {
		> hui-background {
			background: @splitter-hover;
		}
	}
}