hui-prefab-editor {

	> #main-split {
		second-min-size: 200;
		anchor-to: end;

		> #scene-tree-split {
			second-min-size: 200;
			anchor-to: end;
		}
	}

	#inspector-panel {
		valign: top;

		> #root {
			valign: top;
			layout: vertical;

			#content {
				spacing: 3;
			}

			.kit-line {
				height: 16;
				spacing: 2;
			}

			> hui-line {
				fill-width: true;
			}

			.first {
				width: 80;
				height: 16;
				> * {
					halign: right;
				}
			}


			.kit-label {
				margin-right: 5;
				> * {
					halign: right;
				}

				hui-text {
					margin-bottom: 3;
				}
			}

			.kit-lock {
				width: 16;
				height: 16;

				background-type: hui;
				> hui-background {
					image: "ui/icons/link-break.png" fit;
					image-color: @color-foreground-muted;
				}

				&:hover > hui-background {
					image-color: @color-foreground;
				}

				&.locked > hui-background {
					image: "ui/icons/link.png" fit;
				}
			}
		}
	}
}