hui-category {
	layout: vertical;

	> #header {
		fill-width: true;
		padding: 1 0 1 0;
		cursor: button;

		background-type: hui;
		> hui-background {
			background: @widget-bg;
		}

		&:hover {
			> hui-background {
				background: @color-over;
			}
		}

		> * {
			valign: middle;
		}
	}

	#header-icon {
		width: 20;
		height: 20;
		> hui-background {
			image: "ui/icons/drop_down.sdf.png" fit;
			image-angle: 1.57079632679489661923;
			transition: image-angle 0.07 ease-in-out;
		}
	}

	&.open {
		#header-icon {
			> hui-background {
				image-angle: 0;
			}
		}
	}


	> #content {
		layout: vertical;
		fill-width: true;
		padding: 3;
	}
}