hui-view-modes-popup {
	padding: 5;

	background-type: hui;
	>hui-background {
		outline: 1 @popup-border;
	}

	.horizontal {
		width: 110px;
		margin: 2px;
	}

	.vertical {
		margin: 2px;
	}

	hui-text {
		valign:middle;
	}

	.label {
		text-align: left;
		margin-left: 10px;
	}

	#title {
		halign: middle;
		color: darken(@text-color, 20%);
		margin-top: 2;
		margin-bottom: 10;
	}
}