hui-view {
	auto-size: 1;
	fill-width: 1;
	fill-height: 1;
	valign: top;
	layout: vertical;

	background-type: hui;
	> hui-background {
		background: @bg-panel-lvl1;
	}

	> hui-element {
		auto-size: 1;
		fill-height: 1;
	}
	> hui-toolbar {
		auto-size: none;
		fill-height: 0;
	}
}