hui-cdb-table {
	min-height: 300;
	min-width: 300;
	overflow: hidden;
	layout: vertical;

	> #list {
		fill-width: 1;
		fill-height: 1;
		auto-size: 1;

	}


}

hui-table-line {
	> hui-background {
		outline: 1 gray;
		outline-thickness: 0 0 1 0;
	}
}

hui-table-cell {
	padding: 4;
	valign: top;
	overflow: hidden;
}