hui-popup {
	background-type: hui;
	background-style: @popup-bg;
	background-border-radius: 3;
	background-shadow: @popup-shadow;
	background-outline: 1 @popup-border;
	position: absolute;
	min-width: 16;
	min-height: 16;
}