hui-element {
	background-type: hui;

	&.panel {
		>hui-background {
			background: @bg-panel-lvl1;
			border-radius: 3;
		}

		.panel {
			>hui-background {background: @bg-panel-lvl2;}

			.panel {
				>hui-background {background: @bg-panel-lvl3;}
			}
		}
	}

	> .scrollbar {
		margin-right: 3;
		width: 5;
		> hui-background {
			background: rgba(127,127,127,0.5);
			border-radius: 3;
			alpha: 0.8;
		}
		>.cursor {
			background-type: hui;
			width: 5;
			min-height: 10;
			> hui-background {
				background: rgba(127,127,127,0.9);
				border-radius: 3;
				alpha: 0.8;
			}
		}
	}
}