hui-scene-infos {
	width: 150;
	margin-top: 5;
	margin-left: 5;
	padding: 5;
	background-type: hui;
	background-style: @color-gray-3;
	background-outline: 1 @popup-border;
	background-border-radius: @base-corner-radius;
	background-alpha: 0.7;

	>.horizontal {
		padding-bottom:5;
	}

	>.sub-title {
		margin-top: 10;
	}

	.label {
		color: darken(@text-color, 20%);
	}
}