hui-tree-line {
	padding-top: 1;
	padding-bottom: 1;
	> #caret {
		background-type: hui;

		margin-left: -4;
		margin-right: -4;
		width: 16;
		height: 16;
		> hui-background {
			image: none;
			image-angle: 0;
			transition: image-angle 0.07 ease-in-out;
		}

		.button();
	}

	> #icon {
		background-type: hui;

		width: 16;
		height: 16;

		> hui-background {
			image: "ui/icons/file_blank.png" fit;
		}
	}

	#title {
		valign: middle;
	}

	&.open {
		> #caret > hui-background {
			image-angle: -1.57079632679489661923;
		}
	}

	&.children {
		> #caret > hui-background {
			image: "ui/icons/chevronRight.png" fit;
		}
	}

	&.keyboard-selected {
		> hui-background {
			background: #FF00FF;
		}
	}
}