hui-gradient-editor {
	layout: vertical;

	width: 400;

	>hui-background {
		background: @popup-bg;
		border-radius: @base-corner-radius;
		outline: 1 @popup-border;
	}

	#gradient-container {
		fill-width: 1;
		auto-size-width: 1;
		height: 128;
		layout: stack;
		overflow: hidden;

		>#gradient-display {
			position: absolute;
			smooth: true;
		}
	}

	> #stop-editor {
		layout: vertical;
		fill-width: 1;

		padding: 8;
		#color-picker {
			width: 64;
			height: 64;
		}

		hui-text {
			margin-bottom: 3;
		}

		> #h-layout {
			layout: horizontal;
			fill-width: 1;

			> #v-layout {
				layout: vertical;
				auto-size: 1;
				fill-height: 1;
				padding-left: 4;

				> * {
					valign: top;
				}

				> .edit-line {
					fill-width: 1;

					layout: horizontal;
					>.label {
						//width: 80;
						padding-right: 5;

						hui-text {
							halign: right;
							margin-bottom: 3;
						}
					}
				}

				> .edit-toolbar {
					halign: right;
					valign: bottom;
				}
			}

		}
	}
}