hui-material-inspector {
	layout: vertical;
	overflow: scroll;

	hui-category {
		padding: 0 5 5 5;
	}

	.horizontal {
		margin-top: 5;
	}

	.label {
		text-align: right;
		margin-right: 5;
		auto-size: 1;
		color: darken(@text-color, 20%);
		valign: middle;
	}

	.value {
		auto-size: 2;
		valign: middle;
	}

	.full {
		margin-top: 5;
		auto-size: 1;
		fill-width: true;
	}
}