hui-tree-line {
	padding-top: 1;
	padding-bottom: 1;

	> #caret {
		background-type: hui;

		margin-left: -4;
		margin-right: -4;
		width: 16;
		height: 16;
		> hui-background {
			image: none;
			image-angle: 0;
			transition: image-angle 0.07 ease-in-out;
			image-color: @color-foreground-muted;

		}

		&:hover {
			> hui-background {
				image-color: @color-foreground;
			}
		}

		propagate-events: true;
	}

	> #icon {
		background-type: hui;

		width: 16;
		height: 16;
	}

	#title {
		valign: middle;
		line-break: false;
	}

	&.open {
		> #caret > hui-background {
			image-angle: -1.57079632679489661923;
		}

	}

	&.selected {
		> hui-background {
			background: @color-accent;
		}

		&:hover > hui-background {
			background: lighten(@color-accent, @light-hover);
		}
	}

	&.children {
		> #caret > hui-background {
			image: "ui/icons/chevronRight.png" fit;
		}
	}

	&.keyboard-selected {
		> hui-background {
			background: #FF00FF;
		}
	}

	> #drop-indicator {
		position: absolute;

		> hui-background {
			outline: 0 #5e98f5;
		}
	}

	&.drop-inside > #drop-indicator > hui-background {
		outline-thickness: 1;
	}

	&.drop-before > #drop-indicator > hui-background {
		outline-thickness: 1 0 0 0;
	}

	&.drop-after > #drop-indicator > hui-background {
		outline-thickness: 0 0 1 0;
	}
}