hui-curve-box {
	fill-width: true;
	auto-size: 1;
	height: @widget-base-height;

	background-type: hui;
	> hui-background {
		background: @widget-bg;
		border-radius: @base-corner-radius;
		outline: 1 @widget-border;
	}

	&:hover {
		> hui-background {
			background: lighten(@widget-bg, @light-hover);
		}
	}
}

hui-curve-editor {
	height: 400px;
	width: 700px;
	layout: stack;
	overflow: hidden;

	background-type: hui;
	> hui-background {
		background: @widget-bg;
		border-radius: @base-corner-radius;
		outline: 1 @widget-border;
	}

	hui-text {
		position: absolute;
	}

	hui-icon {
		position: absolute;
		width: 20;
		height: 20;
	}

	.selection-rectangle {
		position: absolute;
		background-type: hui;
		> hui-background {
			background: rgb(201, 201, 201);
			alpha: 0.2;
		}

		&:hover {
			cursor: ew-resize;
		}
	}

	.selection-bounds {
		cursor: pointer;
		position: absolute;
		background-type: hui;
		> hui-background {
			background: rgb(112, 140, 190);
			alpha: 0.2;
		}

		&:hover {
			cursor: ew-resize;
		}
	}
}