hui-modal-container {
	auto-size: 1;
	fill-width: 1;
	fill-height: 1;

	layout: stack;

	&.modal {
		> hui-background {
			background: rgba(50,50,50,0.5);
		}
	}

	// for debugging
	// background-type: hui;
	// > hui-background {
	// 	background: rgba(255,0,255,0.2);
	// }
}