hui-splitter {
	background-type: hui;

	@size:5;

	&.horizontal {
		width: @size;

		>#line {
			fill-height: 1;
			width: 1;
			halign: middle;

			background-style: @splitter-color;
		}
	}

	&.vertical {
		height: @size;
		>#line {
			valign: middle;

			fill-width: 1;
			height: 1;
			background-style: @splitter-color;
		}
	}

	//background: @splitter-color;
	background-border-radius: 2;

	&:hover {
		background-style: @splitter-hover;
	}
}