hui-tab {
	@tab-height: 16;

	height: @tab-height;

	background-type: hui;
	padding-left: 4;
	padding-right: 4;

	>#title {
		margin-bottom: 3;
		color: @color-foreground-muted;
	}

	> hui-background {
		background: @tab-tab-bg;

		border-radius: 3 3 0 0;
		outline: 1 @tab-tab-border;
	}

	&:hover {
		> hui-background {
			background: @tab-tab-hover-bg;

			border-radius: 3 3 0 0;
			outline: 1 @tab-tab-border;
		}
	}

	&.active {
		> hui-background {
			background: @tab-tab-active-bg;
		}

		>#title {
			color: @color-foreground;
		}
	}

}