hui-code-editor-internal, #line-numbers {
	base-font: "code";
	valign: top;
}

#line-numbers {
	text-align: multiline-right;
	min-width: 20;
}

hui-code-tip {
	position: absolute;
	layout: vertical;
	padding: 4 8;

	min-width: 200;

	background-style: @color-gray-5;


	.c {
		fill-width: 1;
		auto-size-width: 1;
		padding: 2;
	}
	.name {
		base-font: "code";
	}
	.sel {
		background-style: @color-accent;
	}
}

hui-code-editor {
	layout: horizontal;
	spacing: 4;
	padding: 4;

	height: 250;

	overflow: scroll;

	background-border-radius: 4;
	background-outline: 1 @widget-border;
}