hui-visibility-settings-popup {
	padding: 5;

	background-type: hui;
	>hui-background {
		outline: 1 @popup-border;
	}

	.horizontal {
		width: 140px;
		margin: 1px;
	}

	.vertical {
		margin: 1px;
	}

	.hidden {
		visible: false;
	}

	hui-text {
		valign:middle;
	}

	.label {
		margin-left: 5px;
	}

	.sub-title {
		margin-top: 5;
	}

	hui-toggle {
		padding: 2
	}
}