hui-select {
	min-height: @widget-base-height;
	min-width: @widget-base-height;
	fill-width: true;
	cursor: button;
	padding: 0 3 0 3;

	background-type: hui;
	background-style: @widget-bg;
	background-border-radius: @base-corner-radius;
	background-outline: 1 @widget-border;

	&:hover {
		background-style: @color-over;
	}

	>hui-element {
		valign: middle;
	}

	#value-text {
		auto-size: 1;
		fill-width: true;
		padding-bottom: 2;
	}
}