hui-line {
	auto-size: 1;
	fill-width: true;
	spacing: 10;

	> hui-element {
		auto-size: 1;
		fill-width: true;
		spacing: 2;
	}

	> .label {
		margin-right: 5;
		> * {
			halign: right;
		}

		hui-text {
			margin-bottom: 3;
		}
	}
}