hui-splitter {
	background-type: hui;

	@size:3;

	&.horizontal {
		auto-size-height: 1;
		fill-height: 1;
		width: @size;
	}

	&.vertical {
		auto-size-width: 1;
		fill-width: 1;
		height: @size;
	}

	> hui-background {
		background: @splitter-color;
		border-radius: 2;
	}

	&:hover {
		> hui-background {
			background: #FF00FF;
		}
	}
}