hui-icon {
	min-height: @widget-base-height;
	min-width: @widget-base-height;

	background-image-shadow: rgba(0,0,0, 0.7);
	background-image-shadow-offset: 1 1;

	background-image-color: @text-color;
}