.level(@n) {
	@c: 10 + @n * 10;

	> #header {
		padding-left: 1 + @n * 8;

		> hui-background {
			@c2: @c + 20;
			background: rgba(@c2, @c2, @c2, 1.0);
		}

		&:hover {
			> hui-background {
				@c3: @c + 30;
				background: rgba(@c3, @c3, @c3, 1.0);
			}
		}

	}

	> hui-background {
		background: rgba(@c, @c, @c, 1.0);
	}
}

hui-category {
	layout: vertical;

	> #header {
		fill-width: true;
		padding: 1 0 1 0;
		cursor: button;

		background-type: hui;
		> hui-background {
			background: @widget-bg;
			outline: 1 #333;
			outline-thickness: 1 0 1 0;
		}

		&:hover {
			> hui-background {
				background: @color-over;
			}
		}

		> * {
			valign: middle;
		}
	}

	&.level-0 {
		.level(0);
	}

	&.level-1 {
		.level(1);
		> #header > #header-text {
			base-font: italic;
		}
	}

	&.level-2 {
		.level(2);
	}

	&.level-3 {
		.level(3);
	}

	&.level-4 {
		.level(4);
	}

	#header-icon {
		width: 20;
		height: 20;
		> hui-background {
			image: "ui/icons/drop_down.sdf.png" fit;
			image-angle: 1.57079632679489661923;
			transition: image-angle 0.07 ease-in-out;
		}
	}

	&.open {
		> #header > #header-icon {
			> hui-background {
				image-angle: 0;
			}
		}
	}

	margin-bottom: -2;

	&.flush-last {
		margin-bottom: -3;
	}

	&.flush-last.open {
		margin-bottom: 0;
	}



	> #content {
		layout: vertical;
		fill-width: true;
		padding: 3;
		padding-right: 0;
		spacing: 1;


		hui-category.flush {
			margin-top: -4;
		}

		hui-category {
			margin-left: -3;
		}
	}
}