hui-toast {
	halign: middle;
	valign: bottom;
	margin: 4;

	max-width: 400;

	background-type: hui;

	background-style: @popup-bg;
	background-border-radius: 3;
	background-shadow: @popup-shadow;
	background-outline: 1 @popup-border;

	&:hover {
		background-style: lighten(@popup-bg, @light-hover);
	}


	&.info {
		>#icon-container { background-style: @color-info;}

		>#icon-container > #icon { background-image: "ui/icons/info.sdf.png" fit; }
	}

	&.warning {
		>#icon-container { background-style: @color-warning;}
		>#icon-container > #icon { background-image: "ui/icons/warning.sdf.png" fit; background-image-color: #000;}
	}

	&.error {
		>#icon-container { background-style: @color-error;}
		>#icon-container > #icon { background-image: "ui/icons/error.sdf.png" fit; background-image-color: #000;}
	}

	>#icon-container {
		padding: 2;
		background-type: hui;

		background-border-radius: 3 0 0 3;
		auto-size-height: 1;
		fill-height: 1;
		> #icon {
			width: 16;
			height: 16;
			background-type: hui;

			background-image-color: #FFF;

			valign: middle;
		}
	}

	> #text-container {
		padding: 8;
		valign: middle;

		background-type: hui;
	}
}