hui-view-gym {

	> hui-text {
		margin-top: 10;
	}

	> hui-tab-container {
		auto-size-height: 1;
		fill-height: 1;
	}

	.example {
		max-width: 500;
		padding: 8;
		margin: 8;

		layout: vertical;

		max-height: 400;
		overflow: scroll;

		background-type: hui;
		> hui-background {
			background: @bg-panel-lvl2;
		}

		&.horizontal {
			layout: horizontal;
		}

		spacing: 8;
	}
}

gym-widgets {
	layout: vertical;
	overflow: scroll;
	fill-width: 1;
	fill-height: 1;

	.hui-background {
		height: 32;
		width: 64;
		margin: 8;

		background-type: hui;
	}

	.example-1 {
		> hui-background {
			background: green;
			border-radius: 2 4 6 16;
			shadow: 2px 2px 0.5 0 rgba(255,0,0,0.5);
		}
	}

	.example-2 {
		> hui-background {
			background: green;
			outline: 1 white;
			border-radius: 2 4 6 16;
			shadow: 2px 2px 0.5 0 rgba(255,0,0,0.5);
		}
	}

	.example-3 {
		> hui-background {
			background: green;
			outline: 1 white;
			border-radius: 2 4 6 16;
			shadow: 2px 2px 2px -10 rgba(255,0,0,0.5);
			outline-offset: 1;
		}
	}

	.example-4 {
		> hui-background {
			background: green;
			outline: 1 white;
			border-radius: 2 4 6 16;
			shadow: 2px 2px 0px rgba(255,0,0,0.5);
			outline-offset: -2;
		}
	}

	.example-5 {
		> hui-background {
			background: white;
			//outline: 1 #F0F;
			border-radius: 2 4 6 16;
			shadow: inset 0 0 10 0 rgba(0,0,0,1.0);
			outline-offset: -2;
			debug: false;
		}
	}

	#commands-first {
		> hui-background {
			background: @color-gray-3;
		}

		padding: 8;

		min-height: 50;
		min-width: 200;
	}

	#commands-second {
		> hui-background {
			background: @color-gray-5;
		}

		padding: 8;
		min-width: 200;
		min-height: 50;
	}
}

gym-layouts {
	.first {
		layout: vertical;
		> hui-background {
			background: green;
		}

		> .first-fixed {
			height: 32;
			fill-width: 1;
			> hui-background {
				background: red;
			}
		}
		> .first-dynamic {
			fill-height: 1;
			auto-size-height: 1;
			fill-width: 1;

			> hui-background {
				background: blue;
			}

			> .first-content {
				layout: vertical;
				overflow: scroll;
				fill-height: 1;
				fill-width: 1;
			}
		}
	}
}

gym-search {
	layout: vertical;

	#results {
		height: 300;
		layout: vertical;
		overflow: scroll;
		> hui-background {
			background: @color-gray-3;
		}
	}
}

gym-hui-background {
	layout: vertical;
	fill-width: 1;
	fill-height: 1;
	padding: 16;
	spacing: 16;

	overflow: scroll;

	> hui-background {
		background: white;
	}

	> hui-element {
		width: 128;
		height: 128;

		> hui-background {
			outline: 1 black;

			background: white;
			border-radius: 0 2 8 32;
		}
	}

	.example-1 {
		> hui-background {
			shadow: 2 2 5 rgba(0,0,0,0.5);
		}
	}

	.example-2 {
		> hui-background {
			shadow: inset 0 0 5 rgba(0,0,0,1.0);
		}
	}

	.example-3 {
		> hui-background {
			shadow: inset 0 0 5 5 rgba(0,0,0,0.7);
		}
	}

	.example-4 {
		> hui-background {
			border-radius: 4;
			shadow: inset 0 0 5 -100 2 rgba(0,0,0,0.7);
		}
	}

	.example-5 {
		> hui-background {
			outline: 1 black;
			border-radius: 4;
			shadow: inset 0 -100 5 2 -98 rgba(0,0,0,0.7);
		}
	}

	.example-6 {
		> hui-background {
			outline: 1 black;
			border-radius: 4;
			shadow: inset 0 -100 5 -98 rgba(0,0,0,0.7);
		}
	}
}