hui-text-input {
	auto-size: 1;

	font: url("font/Inter-cv05-cv08-tnum-13pt.fnt");
	color: @text-color;
	text-shadow: 0 1 #000 0.5;
}

.high-dpi hui-text-input {
	font: url("font/Inter-cv05-cv08-tnum-26pt.fnt") scale(0.5);
}