hui-popup {
	background-type: hui;
	> hui-background {
		background: @bg-popup;
		border-radius: 3;
		shadow: 0 2 7 3 rgba(0,0,0,0.5);
		outline: 1 #333;
	}
	position: absolute;
	min-width: 16;
	min-height: 16;
}