hui-text {
	base-font: regular;
	&.italic {
		base-font: italic;
	}
	color: @text-color;
	text-shadow: 0 1 #000 0.5;
}

.high-dpi hui-text {
	base-font: regular;

	&.italic {
		base-font: italic;
	}
}