hui-toolbar {
	fill-width: true;
	padding: 2;

	background-type: hui;
	>hui-background {
		background: @color-gray-3;
		outline: 1 @popup-border;
	}

	>hui-toggle {
		padding: 5
	}

	>hui-button {
		padding: 5
	}

	>hui-element {
		margin-right: 5px;
	}

	.tiny {
		padding-right: 0;
		padding-left: 0;
		min-width: 1px;
		width: 1px;
		hui-icon {
			min-width: 10px;
			width: 10px;
		}
	}

	.group-start {
		margin-right: 0px;
		> hui-background {
			border-radius: @base-corner-radius 0 0 @base-corner-radius;
			outline: 1 @widget-border;
		}
	}

	.group {
		margin-right: 0px;
		> hui-background {
			border-radius: 0;
			outline: 1 @widget-border;
		}
	}

	.group-end {
		margin-right: 5px;
		> hui-background {
			border-radius: 0 @base-corner-radius @base-corner-radius 0;
			outline: 1 @widget-border;
		}
	}
}