hui-scene-infos {
	width: 150;
	margin-top: 5;
	margin-left: 5;
	padding: 5;
	background-type: hui;
	>hui-background {
		background: @color-gray-3;
		outline: 1 @popup-border;
		border-radius: @base-corner-radius;
	}

	>.horizontal {
		padding-bottom:5;
	}

	>.title {
		margin-bottom: -5;
	}

	>.sub-title {
		margin-top: 10;
	}

	.label {
		color: darken(@text-color, 20%);
	}
}