prefab {

}

hui-prefab-inspector-error {
	layout: vertical;
	fill-width: 1;

	margin: 4;
	padding: 4;

	spacing: 4;

	background-style: @color-red;
	background-border-radius: @base-corner-radius;

	> * {
		valign: middle;
	}



	> #error-text {
		fill-width: 1;
		auto-size-width: 1;
		color: @color-gray-0;
		text-shadow: 0 1 #FFF 0.5;
		content-halign: left;
	}

	> hui-button {
		halign: middle;
		> hui-text {
			color: @color-gray-0;
			text-shadow: 0 1 #FFF 0.5;
		}
	}
}