prefab {

}

hui-prefab-inspector-error {
	layout: vertical;
	fill-width: 1;

	margin: 4;
	padding: 4;

	spacing: 4;

	> hui-background {
		background: @color-red;
		border-radius: @base-corner-radius;
	}

	> * {
		valign: middle;
	}



	> #error-text-container {
		fill-width: 1;
		auto-size-width: 1;
		hui-text {
			color: @color-gray-0;
			text-shadow: 0 1 #FFF 0.5;
			halign: left;
		}
	}

	> hui-button {
		halign: middle;
		> hui-text {
			color: @color-gray-0;
			text-shadow: 0 1 #FFF 0.5;
		}
	}
}