texture {
	#container {
		fill-width: true;
		fill-height: true;

		#details {
			hui-category {
				valign: top;

				.horizontal {
					fill-width: true;
					margin: 2px;
				}

				.vertical {
					margin: 2px;
				}

				.label { 
					margin-right: 5px;
					color: darken(@text-color, 20%);
				}

				.value {
					
				}
			}
		}
	}
}