texture {
	#container {
		fill-width: true;
		fill-height: true;
		auto-size: 1;

		#details {
			hui-category {
				valign: top;
				auto-size: 1;

				.horizontal {
					fill-width: false;
					margin: 2px;
					spacing: 5px;
				}

				.vertical {
					margin: 2px;
				}

				.label {
					color: darken(@text-color, 20%);
					valign: middle;
				}

				.value {
					auto-size: 1;
					fill-width: true;
				}

				.full {
					fill-width: true;
					padding: 6;
					margin: 5 5 0 5;
				}

				hui-text {
					valign: middle;
				}

				#reset-full-btn {
					background-type: hui;
					> hui-background {
						background: @color-red;
						background-alpha: 0.2;
					}

					&:hover {
						> hui-background {
							background-alpha: 1;
						}
					}
				}
			}
		}
	}
}