timeline {
	#right-panel {
		layout: stack;

		#playhead {
			position: absolute;
			layout: vertical;

			#head {
				padding: 4 7 4 7;
				min-width: 31;
				background-type: hui;
				> hui-background {
					border-radius: 4;
					background: #426dae;
				}

				#time {
					align: middle middle;
					margin-top: -2;
				}
			}

			#body {
				halign: middle;
				width: 3;
				background-type: hui;
				> hui-background {
					background: #426dae;
				}
			}
		}

		#timer-track {
			fill-width: true;
			height: 20;
			background-type: hui;
			> hui-background {
				background: @color-gray-5;
			}

			> hui-text {
				position: absolute;
			}
		}

		#event-track {
			fill-width: true;
			height: 30;
			background-type: hui;
			> hui-background {
				background: @color-gray-6;
			}
		}

		#grid {
			fill-width: true;
			fill-height: true;
			overflow: hidden;

			> hui-text {
				position: absolute;
			}

			// background-type: hui;
			// > hui-background {
			// 	background: green;
			// }
		}
	}
}