timeline {
	@track-height: 30;

	#right-panel {
		layout: stack;

		#playhead {
			position: absolute;
			layout: vertical;

			#time {
				padding: 2 7 4 7;
				min-width: 31;
				background-type: hui;
				background-border-radius: 4;
				background-style: @color-blue;
				content-align: middle middle;
			}

			#body {
				halign: middle;
				width: 3;
				background-type: hui;
				> hui-background {
					background: @color-blue;
				}
			}
		}

		#timer-track {
			fill-width: true;
			height: 20;
			background-type: hui;
			background-style: @color-gray-5;

			> hui-text {
				position: absolute;
			}
		}

		#grid {
			layout: stack;
			fill-width: true;
			fill-height: true;
			overflow: hidden;

			#content {
				layout: stack;
				fill-width: true;
				fill-height: true;
				overflow: hidden;
			}

			> hui-text {
				position: absolute;
			}
		}

		.hui-clip {
			position: absolute;
			height: @track-height;
			padding: 10;
			overflow: hidden;

			background-type: hui;
			background-style: @color-gray-6;
			background-border-radius: 4;
			background-alpha: 0.5;
			content-valign: middle;
		}

		.hui-marker {
			layout: vertical;
			position: absolute;
			overflow: hidden;
			hui-icon {
				halign: middle;
				>hui-background {
					image-color : @color-gray-7;
				}
			}

			.label-container {
				padding: 5;
				background-type: hui;
				> hui-background {
					background: @color-gray-7;
					border-radius: 4;
				}

				hui-text {
					halign: middle;
				}
			}

			&.selected {
				hui-icon {
					halign: middle;
					>hui-background {
						image-color : @color-blue;
					}
				}

				.label-container {
					> hui-background {
						background: @color-blue;
					}
				}
			}
		}
	}

	#left-panel {
		layout: vertical;

		.hui-track {
			height: @track-height;
			fill-width: true;
			margin-left: 20;
			margin-top: 25;
			padding: 5;
			background-type: hui;
			background-style: @color-gray-3;
			background-border-radius: 4 0 0 4;

			hui-text {
				valign: middle;
				margin-right: 5;
			}

			hui-select {
				auto-size: 1;
				fill-width: false;
			}
		}
	}
}