timeline {
	@track-height: 30;

	#right-panel {
		layout: stack;

		#playhead {
			position: absolute;
			layout: vertical;

			#head {
				padding: 4 7 4 7;
				min-width: 31;
				background-type: hui;
				background-border-radius: 4;
				background-style: #426dae;

				#time {
					align: middle middle;
					margin-top: -2;
				}
			}

			#body {
				halign: middle;
				width: 3;
				background-type: hui;
				background-style: #426dae;
			}
		}

		#timer-track {
			fill-width: true;
			height: 20;
			background-type: hui;
			background-style: @color-gray-5;

			> hui-text {
				position: absolute;
			}
		}

		#event-track {
			fill-width: true;
			height: 30;
			background-type: hui;
			background-style: @color-gray-6;
		}

		#grid {
			layout: stack;
			fill-width: true;
			fill-height: true;
			overflow: hidden;

			#content {
				layout: stack;
				fill-width: true;
				fill-height: true;
				overflow: hidden;
			}

			> hui-text {
				position: absolute;
			}
		}

		.hui-clip {
			position: absolute;
			height: @track-height;
			padding: 10;
			overflow: hidden;

			background-type: hui;
			background-style: @color-gray-6;
			background-border-radius: 4;
			background-alpha: 0.5;

			hui-text {
				valign: middle;
			}
		}
	}

	#left-panel {
		layout: vertical;

		.hui-track {
			height: @track-height;
			fill-width: true;
			margin-left: 20;
			margin-top: 55;
			padding: 5;
			background-type: hui;
			background-style: @color-gray-3;
			background-border-radius: 4 0 0 4;

			hui-text {
				valign: middle;
				margin-right: 5;
			}

			hui-select {
				auto-size: 1;
				fill-width: false;
			}
		}
	}
}